.tasks-full-card-header-burger {
	flex-shrink: 0;
	margin: 0 0 0 10px;
	line-height: 0;
	cursor: pointer;
	height: 26px;
	display: flex;
	align-items: center;
}

.tasks-full-card-header-burger .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	--ui-icon-set__icon-size: 22px;
	transform-origin: center;
	transform: rotate(90deg);
}
