.bizproc-setuptemplateactivity-preview-block {
	width: 100%;
	padding: 22px 24px 24px;
	border-radius: 18px;
	background: var(--ui-color-palette-white-base);
	box-sizing: border-box;
}

.bizproc-setuptemplateactivity-preview-block.--empty {
	height: 46px;
}

.bizproc-setuptemplateactivity-preview-block .ui-ctl-element,
.bizproc-setuptemplateactivity-preview-block label.ui-ctl-label-text,
.bizproc-setuptemplateactivity-preview-block .ui-tag-selector-item.ui-tag-selector-add-button,
.bizproc-setuptemplateactivity-preview-block .ui-btn,
.bizproc-setuptemplateactivity-preview-block button,
.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-drop-label {
	cursor: not-allowed !important;
	pointer-events: none;
}

.bizproc-setuptemplateactivity-preview-block .bizproc-setup-template__error-text {
	display: none;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-drop-area {
	margin-top: 5px;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-items {
	grid-template-columns: repeat(auto-fit, minmax(80px, 80px));
	gap: 10px;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader {
	width: 100%;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader:not(.--compact) .ui-tile-uploader-item {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader:not(.--compact) .ui-tile-uploader-item:hover {
	border-color: var(--ui-color-accent-main-primary-alt-2);
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-item {
	max-width: 80px;
	height: 82px;
	border-radius: 8px;
	transition: border-color .2s linear;
	border: 1px solid #f0f0f0;
	padding: 3px;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader .ui-icon-set {
	--ui-icon-set__icon-size: 20px;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-item-preview {
	margin-top: 10px;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-item-preview svg {
	width: 30px;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-items + .ui-tile-uploader-drop-area {
	margin-top: 22px;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-item-state-icon,
.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-item-loader {
	background-size: 14px;
	left: 4px;
	width: 15px;
	height: 15px;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-item-status {
	left: 22px;
	right: 14px;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-item-status-name {
	font-size: var(--ui-font-size-4xs);
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-item-state-remove {
	width: 20px;
}

.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-item:hover .ui-tile-uploader-item-remove,
.bizproc-setuptemplateactivity-preview-block .ui-tile-uploader-item.--selected .ui-tile-uploader-item-remove {
	width: auto;
}
