
/* normalize */

.tm-timer__editor-opener{
	border-radius: 0;
	border: none;
	padding: 0;
	background-color: transparent;
	text-align: inherit;
	cursor: pointer;
}
.tm-timer__title {
	margin: 0;
}
.tm-control-panel__actions-list {
	margin: 0;
	padding: 0;
}
.tm-control-panel__actions-item {
	list-style: none;
}

/* normalize end */

:root {
	--color-danger: red;
}
.tm-control-panel {
	--whitespace: var(--ui-border-radius-lg);
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--whitespace);
	border: 1px solid var(--ui-color-divider-accent);
	border-radius: var(--whitespace);
	padding: var(--ui-space-stack-sm);
}
.tm-control-panel__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}
.tm-control-panel__info.tm-control-panel__info_pause {}
.tm-control-panel__timer {}
.tm-control-panel__info.tm-control-panel__info_pause .tm-control-panel__timer {
	justify-content: flex-start;
	border-radius: var(--ui-border-radius-md);
	padding: 2px var(--whitespace);
	width: 100%;
	min-height: 34px;
	background-color: var(--ui-color-gray-04);
}
.tm-timer {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: calc(var(--whitespace) / 2);
	min-height: 24px;
	box-sizing: border-box;
}
.tm-timer.tm-timer_opened {}
.tm-timer.tm-timer_ready {}
.tm-timer.tm-timer_paused {}
.tm-timer.tm-timer_closed {}
.tm-timer.tm-timer_expired {}
.tm-control-panel__info.tm-control-panel__info_pause .tm-timer.tm-timer_paused {
	background-color: var(--ui-color-accent-soft-blue-3);
}
.tm-timer__visual {
	line-height: 0;
}
.tm-timer__visual-img {
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
}
.tm-timer.tm-timer_opened .tm-timer__visual-img {}
.tm-timer.tm-timer_ready .tm-timer__visual-img {
	--ui-icon-set__icon-color: var(--ui-color-design-tinted-warning-content-icon);
}
.tm-timer.tm-timer_paused .tm-timer__visual-img {
	--ui-icon-set__icon-color: var(--ui-color-base-4);
}
.tm-timer.tm-timer_closed .tm-timer__visual-img {
	--ui-icon-set__icon-color: var(--ui-color-accent-main-success-alt);
}
.tm-timer.tm-timer_expired .tm-timer__visual-img {
	--ui-icon-set__icon-color: var(--ui-color-accent-main-warning);
}
.tm-timer__title {}
.tm-timer__editor-opener {
	line-height: 0;
	--ui-icon-set__icon-color: var(--ui-color-base-4);
}
.tm-timer__editor-opener-img {
	--ui-icon-set__icon-color: var(--ui-color-base-4);
}
.tm-timer__editor-opener:hover .tm-timer__editor-opener-img {
	--ui-icon-set__icon-color: var(--ui-color-base-1);
}
/* for next two selectors: */
/* inline-block for block content (BIcon) */
/* commented styles for text content */
.tm-control-panel__widget-opener-container {
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: right;*/
	line-height: 0;
}
.tm-control-panel__widget-opener {
	/*text-align: right;*/
	display: inline-block;
	cursor: pointer;
}
.tm-control-panel__widget-opener:hover {}
.tm-control-panel__widget-opener.tm-control-panel__widget-opener_loading {
	cursor: progress;
}
.tm-control-panel__widget-opener-img {
	--ui-icon-set__icon-color: var(--ui-color-base-4);
}
.tm-control-panel__widget-opener:hover .tm-control-panel__widget-opener-img {
	--ui-icon-set__icon-color: var(--ui-color-base-0);
}
.tm-control-panel__widget-opener.tm-control-panel__widget-opener_loading .tm-control-panel__widget-opener-img {
	--ui-icon-set__icon-color: var(--ui-color-base-6);
}
.tm-control-panel__actions-list {
	display: flex;
	gap: var(--whitespace);
}
.tm-control-panel__actions-item {
	width: 100%;
}
.tm-control-panel__action {}
