.bizproc-setup-template__heading, .bizproc-setup-template__knowledge-title {
	font-size: 17px;
	line-height: var(--ui-font-line-height-sm);
	color: var(--ui-color-base-0);
	font-weight: var(--ui-font-weight-medium);
	display: -webkit-box;
	text-overflow: ellipsis;
	word-break: break-word;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.bizproc-setup-template__knowledge-title {
	margin-bottom: 6px;
}

.bizproc-setup-template__text {
	font-size: var(--ui-font-size-sm);
	line-height: var(--ui-font-line-height-2xs);
	color: var(--ui-color-base-3);
	margin-bottom: var(--ui-space-stack-xs);
}

.bizproc-setup-template__text.--with-linebreak {
	white-space: pre-line;
}

.bizproc-setup-template__label {
	margin-bottom: var(--ui-space-stack-2xs2);
}

.bizproc-setup-template__label-text {
	font-size: var(--ui-font-size-sm);
	line-height: var(--ui-font-line-height-sm);
	color: var(--ui-color-base-3);
}

.bizproc-setup-template__form .ui-sidepanel-layout-header,
.bizproc-setup-template__form .ui-sidepanel-layout-content {
	padding-left: 18px;
	padding-right: 18px;
}

.bizproc-setup-template__form .ui-form-label.--required {
	position: relative;
}

.bizproc-setup-template__form .ui-form-label.--required:after {
	content: '*';
	position: absolute;
	right: -5px;
	top: 0;
	color: var(--ui-color-palette-red-60);
}

.bizproc-setup-template__form .ui-sidepanel-layout-title {
	color: var(--ui-color-base-default);
	font-weight: var(--ui-font-weight-medium);
	line-height: var(--ui-font-line-height-sm);
	font-size: 19px;
}

.bizproc-setup-template__form .ui-slider-section {
	border-radius: 18px;
	padding: 24px;
}

.bizproc-setup-template__form .ui-slider-content-box {
	margin-bottom: 0;
}

.bizproc-setup-template__delimiter {
	border: none;
	border-top: 1px solid rgba(var(--ui-color-base-solid-rgb), 0.08);
	margin: 16px 0;
}

.bizproc-setup-template__form .ui-ctl-element {
	border-radius: 8px;
}

.bizproc-setup-template__form textarea.ui-ctl-element {
	resize: none;
}

.bizproc-setup-template__form textarea.ui-ctl-element::-webkit-scrollbar {
	width: 6px;
}

.bizproc-setup-template__form textarea.ui-ctl-element::-webkit-scrollbar-track {
	margin-block: 2px;
}

.bizproc-setup-template__form textarea.ui-ctl-element::-webkit-scrollbar-thumb {
	background-color: var(--ui-color-base-5);
	border-radius: 8px;
	cursor: default;
}

.bizproc-setup-template__form textarea.ui-ctl-element::-webkit-scrollbar-thumb:hover {
	background-color: var(--ui-color-base-4);
}

@supports not selector(::-webkit-scrollbar) {
	.bizproc-setup-template__form textarea.ui-ctl-element {
		scrollbar-width: thin;
	}
}

.bizproc-setup-template__add-btn {
	color: #0075ff;
	text-align: center;
	font-size: var(--ui-font-size-md);
	font-weight: var(--ui-font-weight-medium);
	line-height: var(--ui-font-line-height-sm);
	cursor: pointer;
	border: none;
	background: transparent;
	padding: 5px 5px 5px 27px;
	margin-top: 12px;
	position: relative;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-system));
}

.bizproc-setup-template__add-btn:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0C7.38652 9.73932e-05 7.70019 0.313656 7.7002 0.700195V6.2998H13.2998C13.6864 6.2998 14 6.6134 14 7C13.9999 7.38651 13.6863 7.7002 13.2998 7.7002H7.7002V13.2998C7.7002 13.6863 7.38652 13.9999 7 14C6.6134 14 6.2998 13.6864 6.2998 13.2998V7.7002H0.700195C0.313662 7.7002 0.000106407 7.38651 0 7C0 6.6134 0.313596 6.2998 0.700195 6.2998H6.2998V0.700195C6.2998 0.313596 6.6134 0 7 0Z' fill='%230075FF'/%3E%3C/svg%3E") no-repeat center center;
}

.bizproc-setup-template__add-btn:focus-visible {
	outline: 1px solid;
}

.bizproc-setup-template__field-item {
	display: flex;
	align-items: center;
}

.bizproc-setup-template__field-item + .bizproc-setup-template__field-item {
	margin-top: 8px;
}

.bizproc-setup-template__field-remove {
	margin-left: 8px;
	border: none;
	cursor: pointer;
	--ui-icon-set__icon-size: 22px;
	--ui-icon-set__icon-color: var(--ui-color-base-50);
	transition: .3s background-color;
}

.bizproc-setup-template__field-remove:hover {
	--ui-icon-set__icon-color: var(--ui-color-base-70);
}

.bizproc-setup-template__form .ui-tag-selector-items .ui-tag-selector-add-button-caption {
	color: var(--ui-color-accent-main-primary);
	font-size: var(--ui-font-size-lg);
	line-height: var(--ui-font-line-height-2xs);
	font-weight: var(--ui-font-weight-normal);
}

.bizproc-setup-template__form .ui-tag-selector-add-button-caption:hover {
	border-bottom-color: var(--ui-color-accent-main-primary);
}

.bizproc-setup-template__form .ui-tag-selector-add-button-caption:before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 0H3v3H0v2h3v3h2V5h3V3H5V0z' fill='%230075FF'/%3E%3C/svg%3E") no-repeat center;
}

.bizproc-setup-template__form .ui-ctl + .ui-ctl.ui-ctl-checkbox,
.bizproc-setup-template__form .ui-ctl + .ui-ctl.ui-ctl-radio {
	margin-left: 0;
}

.bizproc-setup-template__form .ui-ctl.ui-ctl-checkbox,
.bizproc-setup-template__form .ui-ctl.ui-ctl-radio {
	padding: 6px 0;
	min-height: 0;
	margin-bottom: 0;
}

.bizproc-setup-template__form .ui-ctl-checkbox .ui-ctl-label-text,
.bizproc-setup-template__form .ui-ctl.ui-ctl-radio .ui-ctl-label-text {
	font-size: var(--ui-font-size-lg);
	line-height: var(--ui-font-line-height-2xs);
}

.bizproc-setup-template__field-select {
	max-height: 215px;
	overflow-y: auto;
	border: 1px solid #eef2f4;
	border-radius: 8px;
	padding: 7px;
}

.bizproc-setup-template__form .ui-tag-selector-outer-container {
	border-radius: 8px;
}

.bizproc-setup-template__textarea-wrapper {
	position: relative;
	width: 100%;
}

.bizproc-setup-template__char-counter {
	position: absolute;
	bottom: 8px;
	right: 10px;
	font-size: var(--ui-font-size-4xs);
	color: var(--ui-color-base-70);
	padding: 0 3px;
}

.bizproc-setup-template__textarea-wrapper:focus-within .bizproc-setup-template__char-counter {
	color: var(--ui-color-base-70);
}

.bizproc-setup-template__error-text {
	display: flex;
	align-items: center;
	font: 13px/16px var(--ui-font-family-primary, var(--ui-font-family-system));
	color: var(--ui-field-color-warning);
	margin-top: 3px;
}

.ui-form-row.--error .ui-ctl-element {
	border-color: var(--ui-field-color-warning);
}

.bizproc-setup-template__error-text .ui-icon-set.--warning {
	--ui-icon-set__icon-size: 20px;
	--ui-icon-set__icon-color: var(--ui-field-color-warning);
}

.bizproc-setup-template__form .ui-form-row {
	overflow: visible;
}

.bizproc-setup-template__no-tabs-selector-popup .ui-selector-tab-labels {
	display: none;
}

.bizproc-setup-template__knowledge-icon {
	--ui-icon-set__icon-size: 28px;
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
	margin-right: 12px;
}

.bizproc-setup-template__subject {
	color: var(--ui-color-base-90);
	font-size: var(--ui-font-size-lg);
	line-height: var(--ui-font-line-height-sm);
	white-space: pre-line;
}

.bizproc-setup-template__progress-bar {
	display: flex;
	gap: 4px;
	margin-bottom: 16px;
}

.bizproc-setup-template__progress-item {
	border-radius: 2px;
	height: 3px;
	width: 100%;
	background: var(--ui-color-gray-20);
}

.bizproc-setup-template__progress-item.--active {
	background: var(--ui-color-accent-main-primary);
}

.bizproc-setup-template__heading.--icon {
	display: flex;
	align-items: center;
}

.bizproc-setup-template__heading.--icon .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
}

.bizproc-setup-template__heading-text {
	margin-left: 4px;
	display: -webkit-box;
	text-overflow: ellipsis;
	word-break: break-word;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.bizproc-setup-template__form .ui-tile-uploader-drop-area {
	margin-top: 5px;
}

.bizproc-setup-template__form .ui-tile-uploader-items {
	grid-template-columns: repeat(auto-fit, minmax(80px, 80px));
	gap: 10px;
}

.bizproc-setup-template__form .ui-tile-uploader {
	width: 100%;
}

.bizproc-setup-template__form .ui-tile-uploader:not(.--compact) .ui-tile-uploader-item {
	box-shadow: none;
}

.bizproc-setup-template__form .ui-tile-uploader:not(.--compact) .ui-tile-uploader-item:hover {
	border-color: var(--ui-color-accent-main-primary-alt-2);
}

.bizproc-setup-template__form .ui-tile-uploader-item {
	max-width: 80px;
	height: 82px;
	border-radius: 8px;
	transition: border-color .2s linear;
	border: 1px solid var(--ui-color-divider-default);
	padding: 3px;
}

.bizproc-setup-template__form .ui-tile-uploader .ui-icon-set {
	--ui-icon-set__icon-size: 20px;
}

.bizproc-setup-template__form .ui-tile-uploader-item-preview {
	margin-top: 10px;
}

.bizproc-setup-template__form .ui-tile-uploader-item-preview svg {
	width: 30px;
}

.bizproc-setup-template__form .ui-tile-uploader-items + .ui-tile-uploader-drop-area {
	margin-top: 22px;
}

.bizproc-setup-template__form .ui-tile-uploader-item-state-icon,
.bizproc-setup-template__form .ui-tile-uploader-item-loader {
	background-size: 14px;
	left: 4px;
	width: 15px;
	height: 15px;
}

.bizproc-setup-template__form .ui-tile-uploader-item-status {
	left: 22px;
	right: 14px;
}

.bizproc-setup-template__form .ui-tile-uploader-item-status-name {
	font-size: var(--ui-font-size-4xs);
}

.bizproc-setup-template__form .ui-tile-uploader-item-state-remove {
	width: 20px;
}

.bizproc-setup-template__form .ui-tile-uploader-item:hover .ui-tile-uploader-item-remove,
.bizproc-setup-template__form .ui-tile-uploader-item.--selected .ui-tile-uploader-item-remove {
	width: auto;
}

