.crm-message-sender-connections-tab-navigation {
	display: flex;
	gap: 6px;
}

.crm-message-sender-connections-page {
	padding: 24px 0 22px 0;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 12px 24px;
}

.crm-message-sender-connections-page-recommendation {
	padding: 24px 0 22px 0;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 12px 24px;
}

.crm-message-sender-connections-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 397px;
	border-radius: 24px;
	padding: 14px;
	gap: 14px;
	flex: 1;
	background: radial-gradient(110.42% 110.42% at -10.42% 31.25%, #F9BE74 0%, #FB7595 58.65%, #B55CCE 100%)
}

.crm-message-sender-connections-section-channel-status-connected {
	background: var(--ui-color-green-50);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 4px;
	margin-top: -8px;
	margin-right: -190px;
	z-index: 10;
	position: absolute;
}

.crm-message-sender-connections-section-default-image {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;

	margin-top: 10px;
}

.crm-message-sender-connections-section-default {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 200px;
	height: 110px;

	border-radius: 10px;
	box-shadow: 0 1px 1px 0 #0000000A;

	cursor: pointer;
	background: var(--ui-color-base-8);
}

.crm-message-sender-connections-section-channel-default-title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 100%;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	margin: 0 8px 10px 8px;
}

.crm-message-sender-connections-section-header {
	height: 100%;
	padding: 26px 13px 0 13px
}

.crm-message-sender-connections-section-title {
	color: var(--ui-color-base-8);
	font-weight: var(--ui-font-weight-bold);
	font-size: var(--ui-font-size-5xl);

	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.crm-message-sender-connections-section-description {
	margin-top: 17px;

	color: var(--ui-color-base-8);
	font-weight: var(--ui-font-weight-normal);
	font-size: var(--ui-font-size-md);
	word-break: keep-all;
}

.crm-message-sender-connections-section-icon {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}

.crm-message-sender-connections-section-channel-container {
	display: flex;
	gap: 14px;
}

.crm-message-sender-connections-channel {
	min-width: 340px;
	min-height: 162px;
	top: 11px;
	border-radius: 24px 24px 20px 20px;
	padding: 24px 26px 24px 24px;
	margin-top: 20px;
	flex: 1;

	background-color: var(--ui-color-base-8);
}

.crm-message-sender-connections-channel-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: visible;
	margin-bottom: 20px;
}

.crm-message-sender-connections-channel-header-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65px;
	height: 65px;
	overflow: hidden;
	border: 9px solid var(--ui-color-base-8);
	border-radius: 50%;
	box-shadow:
		0 5px 16px 0 var(--ui-color-bg-state-hover-default),
		0 2px 4px 0 var(--ui-color-bg-content-tertiary);
	margin-top: -44px;
	background-color: var(--ui-color-base-8);
}

.crm-message-sender-connections-channel-content {
	display: grid;
}

.crm-message-sender-connections-channel-content-title {
	display: flex;
	align-items: flex-end;
	gap: 8px;
	margin-bottom: 10px;
	min-width: 0;
}

.crm-message-sender-connections-channel-status {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 23px;

	padding: 0 var(--ui-size-xs) 0 var(--ui-size-xs);
	border-radius: 18px;
	border: 1px solid var(--ui-color-accent-main-success);
	background: var(--ui-color-accent-main-success);

	color: var(--ui-color-base-8);
	font-weight: var(--ui-font-weight-medium);
	font-size: var(--ui-font-size-sm);
}

.crm-message-sender-connections-channel-content-title-text {
	font-weight: var(--ui-typography-heading-h6-font-weight);
	font-size: var(--ui-font-size-3xl);
	letter-spacing: var(--ui-letter-spacing-xs);
	color: var(--ui-color-base-1);

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.crm-message-sender-connections-channel-content-description {
	font-weight: var(--ui-typography-text-xs-font-weight);
	font-size: var(--ui-font-size-md);
	letter-spacing: var(--ui-letter-spacing-l);
	color: var(--ui-color-base-1);
	word-break: keep-all;
}

.crm-message-sender-connections-footer {
	display: flex;
	justify-content: center;
}