.tasks-field-placements {
	display: flex;
	flex-direction: column;
}

.tasks-full-card-field-container.tasks-field-highlight .tasks-field-placements {
	background-color: var(--ui-color-bg-state-hover-default);
}

.tasks-field-placements-empty-container {
	display: flex;
	align-items: center;
	background: var(--ui-color-base-8);
	border-radius: var(--ui-border-radius-md);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: var(--ui-space-inset-sm) var(--ui-space-inset-sm2);
	cursor: pointer;
}

.tasks-field-placements-empty-container .ui-icon-set {
	margin-right: 6px;
	--ui-icon-set__icon-size: 24px;
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
}
