.editor-chart-ports-inout-center {
	position: relative;
	width: 100%;
	height: 100%;
}

.editor-chart-ports-inout-center__port {
	position: absolute;
	top: 0;
    bottom: 0;
	width: 9px;
    height: 9px;
	margin: auto;
	background-color: transparent;
}

.editor-chart-ports-inout-center__port.--input {
	left: -10px;
}

.editor-chart-ports-inout-center__port.--output {
	right: -10px;
}

.editor-chart-ports-bottom-center__port {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -10px;
	width: 9px;
	height: 9px;
	margin: auto;
	background-color: transparent;
}

.editor-chart-ports-bottom-center__port.--bottom {
	bottom: -10px;
}

.editor-chart-ports-top-center__port {
	position: absolute;
	left: 0;
	right: 0;
	top: -10px;
	width: 9px;
	height: 9px;
	margin: auto;
	background-color: transparent;
	border-radius: 0;
}

.editor-chart-ports-bottom-center__port .ui-block-diagram-port,
.editor-chart-ports-top-center__port .ui-block-diagram-port {
	rotate: 45deg;
	border-radius: 1px;
}

.editor-chart-ports-top-center__port.--bottom {
	bottom: -10px;
}
