.rule-construction.--action .rule-construction__content  {
	border: 1px solid #6ef1b4;
	background: #f4fffa;
}

.rule-construction.--output .rule-construction__content  {
	border: 1px solid var(--ui-color-palette-gray-30);
	background: var(--ui-color-palette-gray-02);
}

.rule-construction.--condition .rule-construction__content {
	border-radius: 8px;
	border: 1px solid #b7d7ff;
	background: #f8fbff;
}

.rule-construction.--first {
	margin-top: -23px;
}

.rule-construction__content {
	border-radius: 8px;
	margin-top: 18px;
}

.rule-construction__operator {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 18px 0;
	padding-left: 27px;
}

.rule-construction.--first .rule-construction__operator {
	margin-top: 0;
}

.rule-construction__operator_label {
	font-size: 13px;
	line-height: 17px;
	font-weight: var(--ui-font-weight-medium);
	padding: 4px 8px;
	border-radius: 6px;
	color: var(--ui-color-palette-white-base);
}

.rule-construction.--condition .rule-construction__operator_label {
	background: #58a4ff;
}

.rule-construction.--action .rule-construction__operator_label {
	background: #1bce7b;
}

.rule-construction.--output .rule-construction__operator_label {
	background: var(--ui-color-palette-gray-50);
}

.rule-construction__content_top {
	display: flex;
	align-items: center;
	padding: 8px 8px 0 4px;
}

.rule-construction__dnd-icon {
	cursor: grab;
	margin-right: auto;
}

.rule-construction__dnd-icon:active {
	cursor: grabbing;
}

.rule-construction__content_mode {
	border-radius: 4px;
	font-size: 10px;
	color: var(--ui-color-palette-gray-60);
	margin-right: 4px;
}

.rule-construction__content_mode-text {
	padding: 2px 4px;
}

.rule-construction__content_mode-text {
	border: 1px solid var(--ui-color-palette-gray-30);
	cursor: pointer;
}

.rule-construction__content_mode-text.--selected {
	color: #15c674;
	border-color: #6ef1b4;
}

.rule-construction__content_mode-text:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right-color: #6ef1b4;
}

.rule-construction__content_mode-text:last-child {
	border-left: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.rule-construction__expression-form {
	padding: 0 24px 24px;
}
