.call-cloud-record-info-popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	gap: 20px;
	background: radial-gradient(
		70.55% 50% at 50% 100%,
		var(--call-view-cloud-record-wrapper-bg-gradient-1) 0%,
		var(--call-view-cloud-record-wrapper-bg-gradient-2) 80%
	);
	text-align: center;
}

.call-cloud-record-info-popup__icon {
	width: 100%;
	height: 110px;
	background: url('../../../images/cloud-record-icon.png') center / contain no-repeat;
}

.call-cloud-record-info-popup__text {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.call-cloud-record-info-popup__title {
	font-style: normal;
	font-weight: 600;
	font-size: var(--ui-font-size-2xl, 19px);
	line-height: var(--ui-font-line-height-2xl, 26px);
}

.call-cloud-record-info-popup__subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: var(--ui-font-size-md, 14px);
	line-height: var(--ui-font-line-height-md, 19px);
}

.call-cloud-record-info-popup__list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	gap: 15px;
	list-style: none;
}

.call-cloud-record-info-popup__list-item {
	display: grid;
	grid-template-columns: 24px 1fr;
	column-gap: 10px;
	align-items: start;
}

.call-cloud-record-info-popup__list-item_icon {
	width: 20px;
	height: 20px;
	padding: 2px 0 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.call-cloud-record-info-popup__list-item_icon.--like {
	background-image: url('data:image/svg+xml,<svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.499684 14.5736C0.567092 15.5385 1.36955 16.2869 2.33687 16.2869H3.06715C4.08428 16.2869 4.90882 15.4624 4.90882 14.4452V7.35755C4.90882 6.34043 4.08428 5.51588 3.06715 5.51588H1.84176C0.774103 5.51588 -0.0698326 6.42083 0.00456804 7.48589L0.499684 14.5736ZM2.33687 14.7702C2.16617 14.7702 2.02456 14.6382 2.01266 14.4679L1.51755 7.3802C1.50442 7.19225 1.65335 7.03255 1.84176 7.03255H3.06715C3.24665 7.03255 3.39215 7.17806 3.39215 7.35755V14.4452C3.39215 14.6247 3.24665 14.7702 3.06715 14.7702H2.33687Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.51118 16.2613C11.1754 16.3807 12.877 16.5027 14.5541 16.5027C15.3568 16.5027 15.9436 15.9652 16.2631 15.4613C16.4706 15.1341 16.6345 14.7143 16.6653 14.2858C16.8168 14.1601 16.9387 14.0135 17.0336 13.8683C17.2358 13.5589 17.3563 13.1992 17.4154 12.863C17.4744 12.527 17.4808 12.1637 17.4113 11.8335C17.4039 11.7987 17.3952 11.7618 17.3848 11.7236C17.7189 11.3492 17.902 10.8731 17.9797 10.4612C18.0439 10.1214 18.0511 9.76459 17.9918 9.43339C17.9803 9.36882 17.9656 9.30247 17.9474 9.2354C18.1215 9.05751 18.2551 8.85698 18.3517 8.63797C18.5293 8.23524 18.5563 7.8245 18.5591 7.50736C18.5621 7.177 18.5264 6.68735 18.3134 6.25243C18.2019 6.02484 18.0309 5.79012 17.7719 5.61349C17.5072 5.43303 17.1955 5.34406 16.8581 5.34406V6.86073C16.8925 6.86073 16.9106 6.86479 16.918 6.86726C16.9225 6.87177 16.9349 6.88604 16.9513 6.91954C17.0103 7.04003 17.0447 7.24944 17.0425 7.49371C17.0402 7.75119 17.0147 7.91101 16.9639 8.02609C16.9245 8.11549 16.851 8.22289 16.6412 8.33062C16.4259 8.44113 16.2762 8.64776 16.2384 8.88678C16.2006 9.1258 16.2792 9.36852 16.4498 9.54008C16.4473 9.53758 16.4461 9.53636 16.4461 9.53636C16.4461 9.53636 16.4773 9.58007 16.4989 9.70071C16.5225 9.8323 16.523 10.0022 16.4894 10.1797C16.4154 10.5716 16.2338 10.7698 16.1068 10.8207C15.8336 10.9304 15.6486 11.1883 15.6322 11.4822C15.6182 11.7323 15.7285 11.9701 15.9214 12.1213C15.9233 12.1285 15.9252 12.1368 15.9272 12.1462C15.9494 12.2515 15.954 12.4158 15.9216 12.6007C15.8891 12.7853 15.8286 12.9397 15.764 13.0386C15.7289 13.0923 15.7042 13.1135 15.6944 13.1203C15.4928 13.1689 15.3197 13.2979 15.2156 13.4777C15.1097 13.6607 15.0849 13.8797 15.1475 14.0818C15.1509 14.0927 15.1634 14.1572 15.1372 14.2794C15.1122 14.3958 15.0595 14.5273 14.9822 14.6491C14.8111 14.9191 14.6341 14.986 14.5541 14.986C12.9337 14.986 11.3202 14.8702 9.68056 14.7525C8.96922 14.7015 8.25298 14.6501 7.52913 14.6076C7.51891 14.607 7.50869 14.6066 7.49846 14.6064L7.49657 14.6063C7.48944 14.6058 7.47414 14.6043 7.4537 14.6008C7.40933 14.5932 7.36126 14.5793 7.32199 14.5591C7.28616 14.5406 7.26999 14.5236 7.26059 14.5091C7.25354 14.4982 7.22272 14.4477 7.22272 14.3128V6.78577C7.22272 6.71256 7.24902 6.64192 7.29234 6.58883L7.32956 6.55692C7.37648 6.51661 7.44409 6.45833 7.52752 6.38586C7.69429 6.24102 7.92485 6.03903 8.18012 5.81029C8.68381 5.35898 9.3078 4.78223 9.72099 4.33456C10.5398 3.44747 11.3463 2.25797 11.7294 1.67108C11.7986 1.56498 11.8851 1.52553 11.9541 1.51831C12.0195 1.51146 12.1102 1.529 12.2046 1.62633C12.2181 1.64026 12.2912 1.75506 12.2689 2.13823C12.2546 2.38335 12.2163 2.5952 12.176 2.81834C12.154 2.9402 12.1313 3.06543 12.1117 3.20128C12.1023 3.26565 12.0592 3.42553 11.9712 3.67767C11.8892 3.91262 11.7852 4.18097 11.6809 4.43843C11.5771 4.69473 11.4755 4.93428 11.3997 5.1101C11.3618 5.19786 11.3306 5.26937 11.3089 5.31871L11.2839 5.37526L11.276 5.39308C11.2541 5.44218 11.2371 5.49439 11.226 5.54701C11.191 5.71321 11.1844 5.91338 11.2553 6.11999C11.3281 6.33239 11.4621 6.49081 11.6087 6.59985C11.8661 6.79128 12.1732 6.83878 12.3576 6.85783C12.5683 6.87959 12.7975 6.87787 12.9968 6.87344C13.0699 6.87181 13.1388 6.86984 13.2052 6.86795C13.3367 6.8642 13.4582 6.86073 13.5832 6.86073H16.8581V5.34406H13.5832C13.4366 5.34406 13.2777 5.34856 13.1348 5.35261C13.0739 5.35433 13.0159 5.35597 12.963 5.35715C12.9561 5.3573 12.9493 5.35745 12.9425 5.35759C12.9884 5.24793 13.0372 5.12983 13.0867 5.00777C13.1955 4.73914 13.3097 4.4453 13.4032 4.17737C13.4907 3.92665 13.5802 3.64297 13.6127 3.41855C13.6198 3.3691 13.6328 3.29645 13.6485 3.20812C13.6942 2.95168 13.7634 2.5631 13.783 2.22653C13.8091 1.77822 13.7838 1.07603 13.2932 0.570301C12.4413 -0.307915 11.0981 -0.136569 10.4593 0.842085C10.0818 1.42047 9.33323 2.51851 8.60649 3.30588C8.24693 3.69545 7.67103 4.23002 7.16802 4.68073C6.91994 4.90301 6.69545 5.09969 6.533 5.24079C6.45183 5.31129 6.38629 5.36778 6.34121 5.40651L6.28958 5.45077L6.27322 5.46475L6.27233 5.4655C6.25393 5.48117 6.23629 5.4977 6.21948 5.51505C5.89046 5.85446 5.70605 6.31253 5.70605 6.78577V14.3128C5.70605 14.7038 5.80277 15.0478 5.98703 15.3327C6.16895 15.614 6.40786 15.7942 6.62711 15.9072C6.84292 16.0185 7.04994 16.0703 7.19688 16.0956C7.2721 16.1085 7.33651 16.1153 7.38519 16.1189C7.40966 16.1207 7.43053 16.1217 7.44722 16.1223L7.45304 16.1224C8.12956 16.1622 8.81711 16.2115 9.51118 16.2613ZM15.9068 12.0786C15.9068 12.0786 15.9079 12.0825 15.9115 12.0886C15.9087 12.0813 15.9068 12.0786 15.9068 12.0786Z" fill="white"/></svg>');
}

.call-cloud-record-info-popup__list-item_icon.--devices {
	background-image: url('data:image/svg+xml,<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.10214 2.02067C7.44737 2.09162 7.70726 2.39712 7.70728 2.76335C7.70728 3.12959 7.44739 3.43507 7.10214 3.50602L6.94874 3.52189H3.81723C3.6378 3.5219 3.49253 3.66727 3.49244 3.84668V11.6797C3.49244 11.8592 3.63774 12.0045 3.81723 12.0045H14.3945L14.5479 12.0203C14.73 12.0577 14.8865 12.1616 14.9955 12.3039L15.0208 12.324L17.4107 14.6388L17.5165 14.7572C17.9847 15.3765 17.5539 16.3133 16.7326 16.3135H0.976652C0.135736 16.3134 -0.310421 15.3205 0.24773 14.6917L2.17742 12.5176C2.04863 12.2661 1.97535 11.9816 1.97535 11.6797V3.84668C1.97544 2.82967 2.8002 2.00486 3.81723 2.0048H6.94874L7.10214 2.02067ZM2.18271 14.7974H15.3943L14.0772 13.5216H3.81723C3.6616 13.5216 3.5109 13.4997 3.36654 13.4634L2.18271 14.7974Z" fill="white"/><path d="M12.9716 6.88192C13.5243 6.88201 13.9724 7.33016 13.9724 7.88273C13.9724 8.43548 13.5243 8.88346 12.9716 8.88355C12.4189 8.88355 11.9708 8.43554 11.9708 7.88273C11.9708 7.33011 12.4188 6.88192 12.9716 6.88192Z" fill="white"/><path d="M14.0444 2.3243C14.3896 2.3953 14.6495 2.70077 14.6495 3.06698C14.6495 3.43318 14.3896 3.73866 14.0444 3.80965L13.891 3.82552H12.0523C11.6334 3.82552 11.2937 3.48579 11.2937 3.06698C11.2937 2.64816 11.6334 2.30843 12.0523 2.30843H13.891L14.0444 2.3243Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.3446 0C16.3617 3.42807e-07 17.1865 0.824754 17.1865 1.84188V9.12793C17.1865 10.1451 16.3617 10.9698 15.3446 10.9698H10.5986C9.58166 10.9696 8.75676 10.145 8.75676 9.12793V1.84188C8.75676 0.824854 9.58166 0.000164745 10.5986 0H15.3446ZM10.5986 1.51709C10.4193 1.51725 10.2739 1.66249 10.2739 1.84188V9.12793C10.2739 9.30732 10.4193 9.45361 10.5986 9.45378H15.3446C15.5241 9.45378 15.6694 9.30742 15.6694 9.12793V1.84188C15.6694 1.66239 15.5241 1.51709 15.3446 1.51709H10.5986Z" fill="white"/></svg>');
}

.call-cloud-record-info-popup__list-item_icon.--cloud {
	background-image: url('data:image/svg+xml,<svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.31844 4.44226C3.46082 1.94757 5.78806 0 8.16574 0H8.17397L8.17397 4.46836e-05C9.92321 0.0190319 11.5142 0.977855 12.3522 2.40031C15.0583 1.87155 17.6632 3.93412 17.9775 6.63576C19.6909 7.35166 20.8396 9.00416 20.8196 10.8716C20.8655 13.3692 18.8209 15.3908 16.2966 15.458L16.2761 15.4582C13.9396 15.4573 11.6031 15.4576 9.26654 15.4579C8.09817 15.4581 6.92975 15.4582 5.76125 15.4582C2.57754 15.4582 0.00268374 12.8677 0.0003292 9.67888C-0.0238926 7.43515 1.29041 5.41436 3.31844 4.44226ZM8.16165 1.51667C6.36909 1.51912 4.70702 3.13098 4.83565 4.88619C4.86025 5.22188 4.66064 5.53361 4.34545 5.65173C2.60912 6.3024 1.49662 7.90941 1.51694 9.66572L1.51705 9.6745H1.51699C1.51699 12.0343 3.42029 13.9416 5.76125 13.9416C6.92932 13.9416 8.09755 13.9414 9.26585 13.9412C11.5991 13.9409 13.9327 13.9406 16.2659 13.9416C18.0094 13.8902 19.3374 12.5044 19.303 10.8907C19.3029 10.8818 19.3028 10.873 19.3029 10.8641C19.3212 9.52521 18.415 8.30942 17.0397 7.91078C16.7155 7.81682 16.4925 7.51993 16.4925 7.18242C16.4925 4.95476 14.2409 3.28747 12.2031 4.00943C11.82 4.14516 11.398 3.95473 11.2463 3.57767C10.7737 2.40293 9.54499 1.53339 8.16165 1.51667Z" fill="white"/></svg>');
}

.call-cloud-record-info-popup__list-item_text {
	font-style: normal;
	font-weight: 400;
	font-size: var(--ui-font-size-md, 14px);
	line-height: var(--ui-font-line-height-md, 19px);
	text-align: left;
}

.call-cloud-record-info-popup__action {
	display: flex;
	justify-content: center;
	margin-top: 12px;
}

.call-cloud-record-info-popup__coming-soon {
	font-style: normal;
	font-weight: 500;
	font-size: var(--ui-font-size-lg, 15px);
	line-height: var(--ui-font-line-height-lg, 20px);
	opacity: 0.7;
}

.call-cloud-record-info-popup__button {
	position: relative;
	padding: 0;
	border: none;
	border-radius: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	cursor: pointer;
}

.call-cloud-record-info-popup__button_wrapper {
	display: flex;
	align-items: center;
	padding: 9px 18px;
	gap: 10px;
}

.call-cloud-record-info-popup__button_icon {
	width: 20px;
	height: 20px;
	background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.4452 0.000451296C17.2393 -0.0195387 17.8665 0.627291 17.8613 1.39694C17.8485 3.27548 17.7472 5.19061 16.8886 7.10981C16.3522 8.30871 15.5361 9.47581 14.3193 10.6342C14.42 10.8483 14.544 11.1461 14.6406 11.4907C14.8303 12.1683 14.9657 13.2156 14.3603 14.1313L14.3593 14.1323C13.8245 14.9383 12.4384 16.4846 11.6279 17.3706C10.8858 18.1817 9.56402 17.8505 9.26262 16.8159L8.60932 14.5717C8.47322 14.6483 8.33292 14.7269 8.18652 14.8071C7.64102 15.106 6.96822 15.0053 6.53222 14.5727L3.02046 11.0864C2.63144 10.7002 2.48101 10.0899 2.7314 9.54341C2.79885 9.39621 2.86849 9.25621 2.94038 9.12251L1.00874 8.56001C-0.0261505 8.25881 -0.35715 6.93691 0.45405 6.19481C1.34018 5.38411 2.88651 3.99697 3.69234 3.46237C4.6082 2.85685 5.65632 2.99226 6.33392 3.18209C6.68982 3.28181 6.99552 3.40976 7.21092 3.51217C7.21422 3.51374 7.21742 3.5155 7.22062 3.51706C9.69312 1.20706 12.8404 0.0912713 16.4452 0.000451296ZM2.10249 12.3823C2.28998 12.0445 2.71569 11.9226 3.05366 12.1098C3.39164 12.2972 3.51419 12.7229 3.3271 13.061C3.22375 13.2474 2.9874 13.7484 2.89448 14.6469C3.22475 14.6297 3.54146 14.5797 3.81929 14.5161C4.04737 14.4638 4.24174 14.4045 4.38569 14.353C4.49811 14.3128 4.55977 14.2836 4.58101 14.2739C4.59029 14.2696 4.59219 14.2695 4.58687 14.2729C4.9124 14.0648 5.34532 14.1594 5.55362 14.4848C5.76202 14.8105 5.66642 15.2442 5.34082 15.4526C5.21752 15.5314 5.03457 15.607 4.85737 15.6704C4.66141 15.7405 4.414 15.8157 4.13179 15.8803C3.5717 16.0086 2.84168 16.1042 2.08296 16.0239C1.72396 15.9859 1.45205 15.6808 1.45601 15.3198C1.47335 13.7425 1.8658 12.8092 2.10249 12.3823ZM13.0126 11.7534C12.582 12.0877 12.1148 12.4225 11.6074 12.7573L11.5888 12.769C11.4179 12.8754 11.2543 12.9772 11.0966 13.0756L11.0937 13.0776C10.7295 13.3049 10.3946 13.5139 10.0624 13.7172L10.7118 15.9506C11.5364 15.041 12.5981 13.8322 12.998 13.2299C13.2089 12.9105 13.213 12.4511 13.0673 11.9311C13.0502 11.8701 13.0319 11.8105 13.0126 11.7534ZM16.2255 1.64206C12.0031 1.81303 8.62712 3.54029 6.33592 7.14501L6.33102 7.15281C5.99662 7.66671 5.65722 8.09941 5.35832 8.48091C5.27592 8.58611 5.19642 8.68751 5.12105 8.78561C4.80317 9.19921 4.53133 9.58481 4.2978 10.0532L7.55752 13.2885C8.55192 12.7385 9.27062 12.2894 10.2265 11.6928C10.3826 11.5954 10.5457 11.4946 10.7167 11.3881C13.3544 9.64611 14.6931 8.01691 15.3974 6.44281C16.0752 4.92771 16.2041 3.38275 16.2255 1.64206ZM11.7909 3.72116C13.1085 3.7213 14.1767 4.78935 14.1767 6.10691C14.1765 7.42431 13.1084 8.49251 11.7909 8.49261C10.4734 8.49261 9.40542 7.42441 9.40522 6.10691C9.40522 4.78926 10.4733 3.72116 11.7909 3.72116ZM5.89352 4.75436C5.37372 4.60872 4.91408 4.61302 4.59468 4.82371C3.99252 5.22331 2.78375 6.28611 1.87398 7.11081L3.89644 7.69971C3.96371 7.61281 4.03063 7.52721 4.09663 7.44281C4.38783 7.07081 4.66922 6.71151 4.95991 6.26511C5.29382 5.74011 5.64852 5.25001 6.02342 4.7944C5.98102 4.78073 5.93782 4.76678 5.89352 4.75436ZM11.7909 5.35401C11.3754 5.35401 11.038 5.69131 11.038 6.10691C11.0382 6.52231 11.3755 6.85881 11.7909 6.85881C12.2063 6.85871 12.5427 6.52221 12.5429 6.10691C12.5429 5.69141 12.2064 5.35411 11.7909 5.35401Z" fill="white"/></svg>');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.call-cloud-record-info-popup__button.--primary {
	padding: 9px 18px;
	border: 1px solid var(--call-view-cloud-record-primary-button-stroke);
	background: var(--ui-color-design-filled-bg);
	color: var(--ui-color-design-filled-content);
}

.call-cloud-record-info-popup__button.--secondary {
	z-index: 1;
	padding: 1px;
	background: conic-gradient(
		var(--call-view__button-peach-border-gradient-1) 0%,
		var(--call-view__button-peach-border-gradient-2) 50%,
		var(--call-view__button-peach-border-gradient-1) 100%
	);

	/*box-shadow: 0 0 0 var(--call-view__button-peach-border-gradient-2);*/
	/*animation: move-shadow 3s linear infinite;*/
}

/*@keyframes move-shadow {*/
/*	0% {*/
/*		box-shadow: 1px 0 6px var(--call-view__button-peach-border-gradient-2);*/
/*	}*/
/*	25% {*/
/*		box-shadow: 0 1px 6px var(--call-view__button-peach-border-gradient-2);*/
/*	}*/
/*	50% {*/
/*		box-shadow: -1px 0 6px var(--call-view__button-peach-border-gradient-2);*/
/*	}*/
/*	75% {*/
/*		box-shadow: 0 -1px 6px var(--call-view__button-peach-border-gradient-2);*/
/*	}*/
/*	100% {*/
/*		box-shadow: 1px 0 6px var(--call-view__button-peach-border-gradient-2);*/
/*	}*/
/*}*/

.call-cloud-record-info-popup__button:hover::after {
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.08);
	content: '';
}

.call-cloud-record-info-popup__button.--secondary .call-cloud-record-info-popup__button_wrapper {
	border-radius: inherit;
	background: linear-gradient(
		155deg,
		var(--ui-color-design-filled-boost-bg-gradient-1) 0%,
		var(--ui-color-design-filled-boost-bg-gradient-2) 43%,
		var(--ui-color-design-filled-boost-bg-gradient-3) 91%
	);
	color: var(--ui-color-design-filled-success-content);
}
