.call-common-record-menu-popup {
}

.call-common-record-menu-popup__wrapper {
	padding: 6px 0;
}

.call-common-record-menu-popup__wrapper.--kind .call-common-record-menu-popup__button {
	grid-template-columns: 1fr;
}

.call-common-record-menu-popup__wrapper.--control .call-common-record-menu-popup__button {
	grid-template-columns: 1fr 24px;
}

.call-common-record-menu-popup__button {
	position: relative;
	display: grid;
	padding: 8px 16px;
	gap: 20px;
	cursor: pointer;
}

.call-common-record-menu-popup__button:hover::after {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.08);
}

.call-common-record-menu-popup__button.--destroy .call-common-record-menu-popup__button_text {
	color: var(--ui-color-red-50);
}

.call-common-record-menu-popup__button_icon {
	width: 24px;
	height: 24px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.call-common-record-menu-popup__button_icon.--destroy {
	background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.6"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.2892 5.04883H17.5775C17.9319 5.04883 18.2192 5.33611 18.2192 5.69049C18.2192 6.04488 17.9319 6.33216 17.5775 6.33216H4.4234C4.06902 6.33216 3.78174 6.04488 3.78174 5.69049C3.78174 5.33611 4.06902 5.04883 4.4234 5.04883H7.688L7.88867 4.10205C8.1221 3.00069 9.09438 2.21289 10.2202 2.21289H11.7383C12.8477 2.21289 13.8104 2.9784 14.0604 4.05931L14.2892 5.04883ZM9.14411 4.36814L9.02101 4.94893H12.9489L12.81 4.34842C12.6947 3.84954 12.2503 3.49622 11.7383 3.49622H10.2202C9.70059 3.49622 9.25185 3.85982 9.14411 4.36814Z" fill="%23FF5752"/><path d="M10.1711 10.7295C10.1711 10.3751 9.88386 10.0878 9.52947 10.0878C9.17509 10.0878 8.88781 10.3751 8.88781 10.7295V14.7619C8.88781 15.1163 9.17509 15.4036 9.52947 15.4036C9.88386 15.4036 10.1711 15.1163 10.1711 14.7619V10.7295Z" fill="%23FF5752"/><path d="M12.476 10.0878C12.8303 10.0878 13.1176 10.3751 13.1176 10.7295V14.7619C13.1176 15.1163 12.8303 15.4036 12.476 15.4036C12.1216 15.4036 11.8343 15.1163 11.8343 14.7619V10.7295C11.8343 10.3751 12.1216 10.0878 12.476 10.0878Z" fill="%23FF5752"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.83532 7.45239C5.29522 7.45239 4.8722 7.91698 4.92266 8.4547L5.69489 16.6838C5.78329 17.6258 6.57404 18.3459 7.52021 18.3459H14.436C15.3776 18.3459 16.1661 17.6326 16.2602 16.6957L17.0871 8.46065C17.1413 7.92089 16.7175 7.45239 16.175 7.45239H5.83532ZM6.238 8.73573L6.97261 16.5639C6.99913 16.8465 7.23636 17.0625 7.52021 17.0625H14.436C14.7185 17.0625 14.955 16.8485 14.9832 16.5675L15.7697 8.73573H6.238Z" fill="%23FF5752"/></g></svg>');
}

.call-common-record-menu-popup__button_icon.--pause {
	background-image: url('data:image/svg+xml,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.9667 5.83331H8.86667C7.83574 5.83331 7 6.66905 7 7.69998V20.3C7 21.3309 7.83574 22.1666 8.86667 22.1666H10.9667C11.9976 22.1666 12.8333 21.3309 12.8333 20.3V7.69998C12.8333 6.66905 11.9976 5.83331 10.9667 5.83331ZM8.86667 7.46665H10.9667C11.0955 7.46665 11.2 7.57111 11.2 7.69998V20.3C11.2 20.4288 11.0955 20.5333 10.9667 20.5333H8.86667C8.7378 20.5333 8.63333 20.4288 8.63333 20.3V7.69998C8.63333 7.57111 8.7378 7.46665 8.86667 7.46665Z" fill="%23C9CCD0"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.1333 5.83331H17.0333C16.0024 5.83331 15.1667 6.66905 15.1667 7.69998V20.3C15.1667 21.3309 16.0024 22.1666 17.0333 22.1666H19.1333C20.1643 22.1666 21 21.3309 21 20.3V7.69998C21 6.66905 20.1643 5.83331 19.1333 5.83331ZM17.0333 7.46665H19.1333C19.2622 7.46665 19.3667 7.57111 19.3667 7.69998V20.3C19.3667 20.4288 19.2622 20.5333 19.1333 20.5333H17.0333C16.9045 20.5333 16.8 20.4288 16.8 20.3V7.69998C16.8 7.57111 16.9045 7.46665 17.0333 7.46665Z" fill="%23C9CCD0"/></svg>');
}

.call-common-record-menu-popup__button_icon.--resume {
	background-image: url('data:image/svg+xml,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.0731 11.8956C23.6534 12.8481 23.6534 15.1396 22.0731 16.0921L10.8383 22.8643C9.12769 23.8955 6.94664 22.6635 6.94664 20.6661L6.94664 7.32162C6.94664 5.32422 9.12769 4.09227 10.8383 5.12343L22.0731 11.8956ZM21.2299 14.6933C21.7567 14.3758 21.7567 13.612 21.2299 13.2944L9.99514 6.52228C9.37308 6.14731 8.57997 6.59529 8.57997 7.32162L8.57997 20.6661C8.57997 21.3924 9.37308 21.8404 9.99514 21.4655L21.2299 14.6933Z" fill="%23C9CCD0"/></svg>');
}

.call-common-record-menu-popup__button_icon.--stop {
	background-image: url('data:image/svg+xml,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.74984 6.41663C7.46117 6.41663 6.4165 7.46129 6.4165 8.74996V19.2522C6.4165 20.5409 7.46117 21.5856 8.74984 21.5856H19.2521C20.5408 21.5856 21.5854 20.5409 21.5854 19.2522V8.74996C21.5854 7.46129 20.5408 6.41663 19.2521 6.41663H8.74984ZM19.2521 8.04996H8.74984C8.36324 8.04996 8.04984 8.36336 8.04984 8.74996V19.2522C8.04984 19.6388 8.36324 19.9522 8.74984 19.9522H19.2521C19.6387 19.9522 19.9521 19.6388 19.9521 19.2522V8.74996C19.9521 8.36336 19.6387 8.04996 19.2521 8.04996Z" fill="%23C9CCD0"/></svg>');
}

.call-common-record-menu-popup__button_text {
	color: var(--ui-color-base-white-fixed);
	font-style: normal;
	font-weight: 400;
	font-size: var(--ui-font-size-md, 14px);
	line-height: var(--ui-font-line-height-md, 19px);
	text-align: left;
	display: flex;
	align-items: center;
}
