:root {
	--call-pip__floor-requests-background-color: rgba(232, 155, 6, 0.90);
}

html:has(.bx-call-picture-in-picture-window),
body:has(.bx-call-picture-in-picture-window) {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

.bx-call-picture-in-picture-window {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #0D1420;
	--padding-container: 8px;
	--avatar-background: var(--call-view__default-avatar-background);
	--call-view__button-icon-gap:  min(35px, calc((100vw - (var(--call-view__button-icon-width) * 4)) / 5));
}

.bx-call-picture-in-picture-window__user {
	overflow: hidden;
	position: absolute;
	top: var(--padding-container);
	bottom: var(--padding-container);
	left: var(--padding-container);
	right: var(--padding-container);
}

.bx-call-picture-in-picture-window__user .bx-messenger-videocall-user {
	width: 100%;
	height: 100%;
}

.bx-call-picture-in-picture-window__actions {
	display: flex;
	gap: 8px;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 13;
	padding: 28px calc(var(--call-view__button-icon-gap) * 3 / 4) 0;
	background: linear-gradient(179.28deg, rgba(16, 23, 39, 0) 4.42%, rgba(16, 23, 39, 0.34) 22.09%, rgba(16, 23, 39, 0.72) 51.56%, #101727 89.93%);
	align-items: flex-start;

	transform: translate3d(0, 100%, 0);
	backface-visibility: hidden;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	transition:
		transform .5s ease,
		opacity .5s ease,
		visibility 0s linear .5s;
	will-change: transform, opacity;
	contain: paint;
}

.bx-call-picture-in-picture-window:hover .bx-call-picture-in-picture-window__actions,
.bx-call-picture-in-picture-window_min .bx-call-picture-in-picture-window__actions {
	transform: translate3d(0, 0, 0);
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transition-delay: 0s, 0s, 0s;
}

.bx-call-picture-in-picture-window__notifications {
	padding: 0 !important;
	top: 16px !important;
	bottom: unset !important;
	width: 100% !important;
	display: flex;
	justify-content: center !important;
	z-index: 12 !important;
	pointer-events: none !important;
}

.bx-call-picture-in-picture-window__notifications .bx-call-view-floor-request-notification {
	pointer-events: auto;
}

.bx-call-picture-in-picture-window_min {
	display: flex;
	align-items: center;
}

.bx-call-picture-in-picture-window_min .bx-call-picture-in-picture-window__notifications,
.bx-call-picture-in-picture-window_min .bx-call-picture-in-picture-window__floor-requests,
.bx-call-picture-in-picture-window_min .bx-call-picture-in-picture-window__user {
	display: none;
}

.bx-call-picture-in-picture-window_min .bx-call-picture-in-picture-window__actions {
	position: initial;
	background: transparent;
	padding: var(--padding-container);
	width: 100%;
}

.bx-call-picture-in-picture-window__floor-requests {
	border-radius: 6px;
	padding: 4px 8px 5px 5px;
	position: absolute;
	z-index: 11;
	right: calc(var(--padding-container) + 12px);
	top: calc(var(--padding-container) + 8px);
	display: flex;
	gap: 3px;
	align-items: center;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-normal, 400);
	color: var(--call-view__user-card-button-color);
	background: var(--call-pip__floor-requests-background-color);
	letter-spacing: var(--call-view__letter-spacing);
	line-height: var(--call-view__line-height);
	font-size: var( --ui-font-size-xs);


	&::before {
		content: '';
		width: 16px;
		height: 16px;
		background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.9375 2.05127C8.34792 2.05142 8.68066 2.38398 8.68066 2.79443V7.44873C8.68071 7.57973 8.78705 7.68565 8.91797 7.68604C9.04922 7.68604 9.15621 7.57997 9.15625 7.44873V4.01904C9.15625 3.6487 9.45684 3.34829 9.82715 3.34814C10.1974 3.34831 10.498 3.64871 10.498 4.01904V7.65967C10.4982 7.79172 10.6053 7.89878 10.7373 7.89893C10.8693 7.89877 10.9764 7.79171 10.9766 7.65967V5.90771C10.9766 5.52901 11.2835 5.22166 11.6621 5.22119C12.0411 5.22119 12.3486 5.52869 12.3486 5.90771V10.0562C12.3486 10.3644 12.2415 10.7121 12.0811 11.0493C11.9191 11.3896 11.6959 11.7356 11.4473 12.0454C11.1989 12.3549 10.9195 12.6344 10.6445 12.8384C10.3765 13.037 10.0827 13.186 9.80957 13.186H7.10938C6.8948 13.1859 6.67602 13.1135 6.46973 13.0103C6.26191 12.9062 6.053 12.7644 5.85547 12.6079C5.46031 12.2947 5.08951 11.91 4.82617 11.6226L4.82227 11.6177L2.56445 8.99365C2.28949 8.67366 2.31494 8.19302 2.62305 7.90479C2.9307 7.61728 3.41088 7.62313 3.71191 7.91748L5.03516 9.2124V3.90088C5.03516 3.46279 5.39011 3.10725 5.82812 3.10693C6.26629 3.10708 6.62207 3.46268 6.62207 3.90088V7.40088C6.62242 7.55853 6.7505 7.68591 6.9082 7.68604C7.06588 7.68589 7.19399 7.55851 7.19434 7.40088V2.79443C7.19434 2.38403 7.52714 2.05149 7.9375 2.05127Z" fill="white"/></svg>');
		background-size: contain;
		background-repeat: no-repeat;
		margin-bottom: -1px;
	}
}

.bx-call-picture-in-picture-window .bx-messenger-videocall-notification-panel {
	align-items: center;
}

.bx-call-picture-in-picture-window:has(.bx-call-view-floor-request-notification) .bx-call-picture-in-picture-window__floor-requests {
	visibility: hidden;
}

.bx-call-picture-in-picture-window__floor-requests_hidden {
	display: none;
}

.bx-call-picture-in-picture-window__popup .popup-window-angly {
	pointer-events: initial !important;
}

.bx-call-picture-in-picture-window__popup-template {
	display: flex;
	flex-direction: column;
	font-size: 13px;
	line-height: 17px;
	padding: 14px 12px;
}

.bx-call-picture-in-picture-window__floor-request-item {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 4px 0;
}

.bx-call-picture-in-picture-window__floor-request-avatar {
	width: 20px;
	aspect-ratio: 1;
	background-image: var(--avatar);
	background-color: var(--avatar-color, --avatar-background);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 9px;
	line-height: normal;
	font-weight: var(--ui-font-weight-medium, 500);
	border-radius: 100%;
	flex: 0 0 auto;
	color: #ffffff;
}

.bx-call-picture-in-picture-window__floor-request-name {
	flex: 1 1 auto;
}

.bx-call-picture-in-picture-window__floor-request-index {
	flex: 0 0 auto;
}

.bx-call-picture-in-picture-window .bx-call-picture-in-picture-window__actions .bx-messenger-videocall-panel-item {
	gap: 0;
}


.bx-call-picture-in-picture-window .bx-call-picture-in-picture-window__actions .bx-messenger-videocall-panel-item .bx-messenger-videocall-panel-icon-background {
	margin-bottom: 8px;
}

.bx-call-picture-in-picture-window__popup,
.bx-call-picture-in-picture-window__popup .popup-window-angly--arrow {
	background-color: var(--call-view__popup-backgroud-color);
}

.bx-call-picture-in-picture-window__popup .menu-popup-item-text {
	color: var(--ui-color-palette-white-base);
	background-color: var(--call-view__popup-backgroud-color);
}

.bx-call-picture-in-picture-window__popup .menu-popup-item:hover {
	background-color: var(--call-view__popup-backgroud-color-hover);
}

.bx-call-picture-in-picture-window__popup .menu-popup-item:hover .menu-popup-item-text {
	color: var(--ui-color-palette-white-base);
	background-color: var(--call-view__popup-backgroud-color-hover);
}

.bx-call-picture-in-picture-window_min .bx-call-picture-in-picture-window__actions{
	max-height: 100vh;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 0;
	padding-bottom: 0;
}

.bx-call-picture-in-picture-window_min .bx-messenger-videocall-panel-item,
.bx-call-picture-in-picture-window_min .bx-messenger-videocall-panel-item-with-arrow{
	justify-content: center;
	align-items: center;
	max-height: 100vh;
	min-height: 100vh;
	height: 100vh;
	box-sizing: border-box;
}

.bx-call-picture-in-picture-window_min .bx-messenger-videocall-panel-icon-background,
.bx-call-picture-in-picture-window_min .bx-messenger-videocall-panel-item-with-arrow-left{
	margin-bottom: 0;
	box-sizing: border-box;
}

.bx-call-picture-in-picture-window.bx-call-picture-in-picture-window_min .bx-call-picture-in-picture-window__actions .bx-messenger-videocall-panel-item .bx-messenger-videocall-panel-icon-background {
	margin-bottom: 0;
}