.tasks-field-replication-sheet-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: var(--ui-space-stack-md2);
}

.tasks-field-replication-sheet-close {
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	cursor: pointer;
}
