.bizprocdesigner-editor-ai-assistant-widget .ai-marta {
	width: 30px;
	height: 30px;
	margin: 0;
}

.bizprocdesigner-editor-ai-assistant-widget .ai-marta__avatar {
	width: 20px;
	height: 20px;
}

.bizprocdesigner-editor-ai-assistant-widget .ai-marta__highlighter {
	width: 42px;
	height: 42px;
}