.intranet-reg-title
{
	color: #151515;
	font-size: var(--ui-typography-heading-h3-font-size);
	line-height: var(--ui-typography-heading-h3-line-height);
	font-weight: var(--ui-font-weight-normal);
	margin: -7px 0 40px;
	text-align: center;
}

.intranet-reg-title b
{
	color: #084dbf;
	font-size: 28px;
	font-weight: var(--ui-font-weight-bold);
}

.intranet-island-title-info {
	color: var(--ui-color-base-90);
	font-size: var(--ui-font-size-xl);
	line-height: var(--ui-font-line-height-sm);
	margin: 0 0 25px;
}

.intranet-text-btn__reg {
	margin-top: 20px;
}

.intranet-text-input__info-icon {
	position: absolute;
	z-index: 10;
	top: 36px;
	right: 10px;
}

.intranet-text-input__lock-icon {
	position: absolute;
	z-index: 10;
	top: 10px;
	left: 8px;
}

.intranet-text-input__eye-icon {
	position: absolute;
	z-index: 10;
	top: 10px;
	right: 10px;
	background-color: var(--ui-color-text-subtle);
}