.tasks-check-list-popup {
	height: 100%;
	box-sizing: border-box;
}

.tasks-check-list-popup-show {
	animation: tasksCheckListPopupShowAnimation 300ms;
	animation-fill-mode: both;
}

.tasks-check-list-popup-close {
	animation: tasksCheckListPopupCloseAnimation 300ms;
	animation-fill-mode: both;
}

@keyframes tasksCheckListPopupShowAnimation {
	0% {
		opacity: 0;
		transform: translateY(550px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes tasksCheckListPopupCloseAnimation {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(550px);
	}
}
