.bx-im-message-header__container {
	--im-message-header__color_message-header: #11a9d9;
	--im-message-header__color_overlay-message-header: var(--im-color-palette-white-base);
	--im-message-header__background-color_overlay-header: rgba(var(--im-color-palette-black-solid-rgb), 0.20);

	font-size: var(--im-font-size-md);
	font-weight: var(--im-font-weight-medium);
	font-style: italic;
	color: var(--im-message-header__color_message-header);
	cursor: pointer;
	user-select: none;
	padding-bottom: 2px;
	display: flex;
	align-items: center;
	gap: 2px;
}

.bx-im-message-header__author-name {
	font-size: var(--im-font-size-lg);
}

.bx-im-message-header__container.--overlay {
	max-width: 700px;
	color: var(--im-message-header__color_overlay-message-header);
	width: max-content;
	border-radius: 98px;
	background: var(--im-message-header__background-color_overlay-header);
	padding: 4px 8px;
}
