.tasks-deadline-change-reason-popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tasks-deadline-change-reason-popup-title {
	color: var(--ui-color-base-1);
	font-size: var(--ui-font-size-xl);
	font-weight: var(--ui-font-weight-medium);
}

.tasks-deadline-change-reason-popup-close-icon {
	--ui-icon-set__icon-size: 24px;
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	cursor: pointer;
}

.tasks-deadline-change-reason-popup-content {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-top: 4px;
}

.tasks-deadline-change-reason-popup-message {
	width: 94%;
	padding-bottom: 14px;
	color: var(--ui-color-base-4);
	font-size: var(--ui-font-size-sm);
	font-weight: var(--ui-font-weight-normal);
	line-height: 17px;
}

.tasks-deadline-change-reason-popup-footer {
	display: flex;
	justify-content: right;
	align-items: center;
	gap: 12px;
	padding-top: 24px;
}
