.crm__channel-selector--header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font: var(--ui-font-size-sm)/17px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: rgba(82,92,105,1);
	padding: 14px 13px 8px 20px;
}

.crm__channel-selector--setting-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.crm__channel-selector--list {
	background: #ffffff;
	box-shadow: 0 5px 16px 0 #00000008, 0 2px 4px 0 #00000005;
	box-sizing: border-box;
	border-radius: var(--ui-space-stack-xl);
	padding: 8px 0 8px;
}
.crm__channel-selector--list.--empty {
	box-shadow: none;
	border-bottom: 1px solid #eee;
	margin-left: 16px;
	margin-right: 16px;
}
.crm__channel-selector--channel {
	display: flex;
	align-items: center;
	padding: 13px 14px 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
	transition: .2s;
	border-radius: 8px;
	margin: 0 6px 0 6px;
	--crm-channel-selector-chevron-color: var(--ui-color-base-6);
}
.crm__channel-selector--channel:hover {
	--crm-channel-selector-chevron-color: var(--ui-color-base-4);
}

.crm__channel-selector--channel-content {
	display: flex;
	flex-direction: column;
	margin-left: 6px;
	overflow: auto;
}

.crm__channel-selector--channel-helper {
	position: relative;
	margin-left: auto;
	display: flex;
}

.crm__channel-selector--channel-helper-text {
	display: inline-block;
	margin-right: 8px;
	opacity: 0;
	transition: .2s;
}

.crm__channel-selector--channel:hover {
	background: #f5f7f8;
}

.crm__channel-selector--channel:hover::before {
	opacity: 0;
}

.crm__channel-selector--channel:hover .crm__channel-selector--channel-helper-text {
	opacity: 1;
}

.crm__channel-selector--channel:hover .crm__channel-selector--channel-helper::before {
	opacity: 0;
}

.crm__channel-selector--channel-icon {
	--crm-channel-icon-size: 27px;
	display: block;
	width: var(--crm-channel-icon-size);
	height: var(--crm-channel-icon-size);
	border-radius: var(--ui-border-radius-circle, 50%);
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 3px;
	flex-shrink: 0;
}

.crm__channel-selector--channel-icon.--service-whatsapp {
	background-image: url("../images/crm-channel-whatsapp.svg");
}

.crm__channel-selector--channel-icon.--service-email {
	background-image: url("../images/crm-channel-email.svg");
}

.crm__channel-selector--channel-icon.--service-sms {
	background-image: url("../images/crm-channel-sms.svg");
}

.crm__channel-selector--channel-icon.--service-livechat {
	background-image: url("../images/crm-channel-livechat.svg");
}

.crm__channel-selector--channel-icon.--service-edna {
	background-image: url("../images/crm-channel-edna.svg");
}

.crm__channel-selector--channel-icon.--service-bitrix24 {
	background-image: url("../images/crm-channel-bitrix24.svg");
}

.crm__channel-selector--channel-main-title {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	margin-bottom: 2px;
	font-size: 13px;
	line-height: 16px;
	color: var(--ui-color-text-secondary, #525c69);
}

.crm__channel-selector--channel-title {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-normal, 400);
	font-size: 11px;
	color: var(--ui-color-base-60, #959ca4);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.crm__channel-selector--channel-hidden {
	display: none;
}

.crm__channel-selector--channel.crm__channel-selector--channel-disabled {
	opacity: 0.4;
	pointer-events: none;
}

.crm__channel-selector--footer {
	display: flex;
	justify-content: center;
	padding: 10px 12px;
	line-height: 20px;
}

.crm__channel-selector--footer.--disabled {
	pointer-events: none;
	opacity: 0.5;
}

.crm__channel-selector--footer-copy-link {
	display: flex;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-size: 11px;
	color: #525c69;
}

.crm__channel-selector--footer-copy-link::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 2px;
	flex-shrink: 0;
	background:  url("../images/crm-channel-link.svg") center no-repeat;
}

.crm__channel-selector--footer-link-hidden {
	width: 1px;
	height: 1px;
	position: absolute;
	top: -100px;
}

.crm__channel-selector--networks {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 14px 20px 11px;
	padding: 25px 10px 18px;
	box-sizing: border-box;
	border-radius: var(--ui-border-radius-lg, 12px);
	background: rgba(255, 255, 255, 0.94);
	text-align: center;
}

.crm__channel-selector--networks:before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	border-radius: var(--ui-border-radius-circle, 50%);;
	position: absolute;
	left: 50%;
	bottom: 100%;
	transform: translate(-50%, 50%);
	background-color: #f8fbfc;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../images/crm-networks-icon.svg");
	pointer-events: none;
}

.crm__channel-selector--networks-title {
	line-height: 17px;
	color: rgba(0, 0, 0, 0.8);
}

.crm__channel-selector--networks-block {
	display: flex;
	justify-content: center;
	margin: 18px 0;
}

.crm__channel-selector--network-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	margin: 0 3px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.9;
	transition: .2s;
	text-decoration: none;
	cursor: pointer;
}

.crm__channel-selector--network-link:hover {
	opacity: 1;
}

.crm__channel-selector--network-link.--link {
	width: auto;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-size: 11px;
	line-height: 15px;
	letter-spacing: -0.5px;
	color: #959ca4;
}

.crm__channel-selector--network-link.--telephone{
	background-image: url("../images/crm-network--telephony.svg");
}

.crm__channel-selector--network-link.--whatsapp {
	background-image: url("../images/crm-network--whatsapp.svg");
}

.crm__channel-selector--network-link.--facebook {
	background-image: url("../images/crm-network--fb.svg");
}

.crm__channel-selector--network-link.--messenger {
	background-image: url("../images/crm-network--messager.svg");
}

.crm__channel-selector--network-link.--instagram {
	background-image: url("../images/crm-network--instagram.svg");
}
