.bx-im-message-keyboard__container {
	display: flex;
	flex-wrap: wrap;
	width: fit-content;
}

.bx-im-content-chat__container.--center-align .bx-im-message-base__wrap.--self .bx-im-keyboard__container {
	text-align: end;
}

.bx-im-content-chat__container.--center-align .bx-im-message-base__wrap.--self .bx-im-keyboard-button__container.--block {
	margin-left: auto;
}
