body {
	--sidepanel-border-radius: 18px 18px 0 0;
	--sidepanel-label-background: #3181c3;
	--sidepanel-label-background-hover: #3792dd;
	--sidepanel-label-border: 1px solid #3389d0;
	--sidepanel-label-border-hover: 1px solid #3792dd;
	--sidepanel-label-icon-color: #dfe0e3;
	--sidepanel-label-icon-color-hover: #ffffff;

	--sidepanel-close-label-background: #3389cf;
	--sidepanel-close-label-background-hover: #3792dd;
	--sidepanel-close-label-border: 1px solid #3792dd;
	--sidepanel-close-label-border-hover: 1px solid #3792dd;
	--sidepanel-close-label-icon-color: #dfe0e3;
	--sidepanel-close-label-icon-color-hover: #ffffff;

	--sidepanel-label-box-shadow: none;
}
