/* Variables */
:root {
	--bar-width: 4px;
	--bar-step: 4px;
	--bar-gap: 2px;
	--bar-bg: #EDEEF0;
	--bar-bg-active: #33D4C7;
	--bar-radius: 2px;
	--agent-grid-department-circle-size: 24px;
	--avatar-counter-size: 24px;
}

/* Typography Utils */
.bizproc-ai-agents-one-line-height {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.4;
	max-height: calc(1.4 * var(--ui-font-size-sm));
}

.bizproc-ai-agents-two-lines-height {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.4;
	max-height: calc(1.4 * var(--ui-font-size-sm) * 2);
}

/* Agent Info Field */
.bizproc-ai-agents-grid-agent-name {
	color: var(--ui-color-accent-main-link);
	margin-bottom: 4px;
}

.bizproc-ai-agents-grid-agent-description {
	color: var(--ui-color-base-3);
	margin-bottom: 4px;
}

/* Employee Field */
.agent-grid_employee-card-container {
	display: flex;
	align-items: center;
}

.agent-grid_user-photo {
	height: fit-content;
	width: fit-content;
	display: flex;
	cursor: pointer;
}

.agent-grid_employee-card-container > .agent-grid_user-photo {
	margin-right: 10px;
}

.agent-grid_user-photo > * {
	pointer-events: none;
}

.agent-grid_employee-card {
	display: flex;
	align-items: center;
	gap: 8px;
}

/* Full Name Field */
.agent-grid_full-name-wrapper {
	max-width: calc(100% - 50px);
}

.agent-grid_full-name-label {
	color: var(--ui-color-base-2);
}

.agent-grid_full-name-label-placeholder {
	color: var(--ui-color-base-5);
}

.agent-grid_full-name-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	white-space: nowrap;
	max-width: 100%;
}

/* Load Indicator */
.agent-grid-load-indicator {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.agent-grid-load-percentage {
	color: var(--ui-color-base-2);
	margin-right: 8px;
	text-align: right;
}

.agent-grid-load-container {
	display: flex;
	align-items: flex-end;
	height: 20px;
}

@keyframes agent-load-rise {
	from {
		transform: scaleY(0);
		opacity: 0.6;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

.agent-grid-load-bar {
	fill: var(--bar-bg);
	transform-origin: center 20px;

	--total-duration: .7s;
	--bars-count: 5;
	--per: calc(var(--total-duration) / var(--bars-count));
	transform: scaleY(0);
	animation-name: agent-load-rise;
	animation-duration: var(--per);
	animation-timing-function: cubic-bezier(.2, .9, .2, 1);
	animation-fill-mode: forwards;
	animation-delay: calc((var(--level, 1) - 1) * var(--per));
}

.agent-grid-load-bar.--active {
	fill: var(--bar-bg-active);
}

/* Used By Field */
.agent-grid-used-by-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 6px;
}

.agent-grid-used-by-container-with-users-and-departments {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: unset;
	gap: 0;
}

.agent-grid-user-avatars {
	display: flex;
	align-items: flex-end;
}

.agent-grid-user-avatars > .agent-grid_user-photo {
	position: relative;
	border: 1px solid var(--ui-color-background-primary);
	border-radius: 100%;
}

.agent-grid-user-avatars > .agent-grid_user-photo:not(:first-child) {
	margin-left: -6px;
}

.agent-grid-used-by-container-with-users-and-departments .agent-grid-user-avatars {
	margin-left: -6px;
}

.agent-grid-avatar-counter,
.agent-grid-department-counter {
	position: relative;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;

	width: var(--avatar-counter-size);
	height: var(--avatar-counter-size);

	border-radius: var(--ui-border-radius-circle);
	border: var(--ui-border-width-thin) solid var(--ui-color-background-primary);

	background-color: var(--ui-color-bg-content-tertiary);

	cursor: pointer;
	transition: 0.6s linear;
}


.agent-grid-avatar-counter {
	margin-left: -6px;
}

.agent-grid-department-counter {
	margin-left: 0;
}

.agent-grid-avatar-counter-number,
.agent-grid-department-counter-number {
	color: var(--ui-color-base-3);
}

.agent-grid-department-counter-with-users {
	background-color: var(--ui-color-accent-extra-aqua);
	color: var(--ui-color-base-white-fixed, #FFFFFF);
}

.agent-grid-counter-default-cursor {
	cursor: default;
}

.agent-grid-chat-container {
	display: flex;
	gap: 2px;
}

.agent-grid-chat-name {
	color: var(--ui-color-base-2);
}

.agent-grid-chat-name:hover {
	color: var(--ui-color-base-50);
}

.agent-grid-chat-link {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;

	white-space: normal;
	color: var(--ui-color-base-70);
	letter-spacing: var(--ui-text-letter-spacing-neg-3);
	text-underline-position: under;
	-webkit-text-decoration-color: var(--ui-color-base-30);
			text-decoration: underline;
	-webkit-text-decoration-style: var(--ui-text-decoration-style-dashed);
			text-decoration-color: var(--ui-color-base-30);
	text-decoration-style: var(--ui-text-decoration-style-dashed);
	cursor: pointer;
	transition: .2s;
}

.main-grid-cell-content a.agent-grid-chat-link:hover,
.agent-grid-chat-link:hover {
	color: var(--ui-color-base-50);
	-webkit-text-decoration-style: var(--ui-text-decoration-style-dashed);
	text-decoration-style: var(--ui-text-decoration-style-dashed);
	-webkit-text-decoration-color: var(--ui-color-base-50);
	text-decoration-color: var(--ui-color-base-50);
}

.agent-grid-chat-icon-img {
	width: 18px;
	height: 18px;
	display: block;
	flex-shrink: 0;
}

.agent-grid-department-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: var(--agent-grid-department-circle-size);
	height: var(--agent-grid-department-circle-size);
	border-radius: 50%;

	background: var(--ui-color-accent-extra-aqua);

	flex: 0 0 auto;
	vertical-align: middle;
}

.agent-grid-department {
	display: flex;
	align-items: center;
	gap: 4px;
	cursor: pointer;
}

.agent-grid-department-in-list,
.agent-grid-user-in-list {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 4px 8px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.agent-grid-department-in-list:hover::before,
.agent-grid-user-in-list:hover::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--ui-color-bg-state-hover-default-hex);
	opacity: var(--ui-color-bg-state-hover-default-opacity);
	z-index: -1;
}

.agent-grid-department-label {
	color: #0154C8;
}

.agent-grid-department-label,
.agent-grid-user-full-name {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 150px;
	white-space: nowrap;
}

.agent-grid-departments-list-wrapper,
.agent-grid-users-list-wrapper {
	display: flex;
	flex-direction: column;
	padding: 4px 0;
	overflow: hidden;
	border-radius: var(--popup-window-border-radius, 18px);
}

.agent-grid-departments-list-wrapper .agent-grid-department-label,
.agent-grid-users-list-wrapper .agent-grid-user-full-name {
	max-width: 100%
}

.agents-grid-popup .popup-window-content {
	border-radius: var(--popup-window-border-radius);
}

/* Launch Control Field */

.launch-control-field-date
{
	color: var(--ui-color-base-2);
}

.ai-agents-grid-row-highlighted {
	animation: highlightRow 2500ms ease;
	z-index: 800;
}

.ai-agents-grid-row-highlighted td:not([style*="background-color"]) {
	animation: highlightRowTd 2500ms ease;
}

@keyframes highlightRow {
	0% {
		opacity: .2;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
	}

	60% {
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
		opacity: 1;
	}

	100% {
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0);
		opacity: 1;
	}
}

@keyframes highlightRowTd {
	0% {
		background-color: #FFF2D5;
	}

	60% {
		background-color: #FFF2D5;
	}

	100% {
		background-color: #ffffff;
	}
}