.bx-im-stickers-header__item {
	--ui-icon-set__icon-color: var(--ui-color-base-2);
	--ui-icon-set__icon-size: 28px;
	--im-stickers-header-item__background-color_hover: var(--ui-color-bg-state-hover-default);

	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	padding: 4px;
	border-radius: 8px;
	cursor: pointer;
}

.bx-im-stickers-header__item:hover {
	background-color: var(--im-stickers-header-item__background-color_hover)
}

.bx-im-stickers-header__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
