.bx-im-format-toolbar__container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;

	padding: 12px 16px;
	min-height: 48px;
}

.bx-im-format-toolbar__separator {
	width: 1px;
	height: 18px;
	background-color: var(--ui-color-divider-accent);
}

.bx-im-format-toolbar__item {
	cursor: pointer;
}
