.tasks-time-tracking-list-item-edit {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	padding: 10px 18px 20px 18px;
	background-color: var(--ui-color-accent-soft-blue-3);
}

.tasks-time-tracking-list-item-edit .ui-system-input-value {
	font-size: var(--ui-font-size-xs);
}

.tasks-time-tracking-list-item-edit .ui-system-input-value.--multi {
	font-size: var(--ui-font-size-sm);
	padding: 12px 0;
}

.tasks-time-tracking-list-item-edit-time {
	display: flex;
	justify-content: left;
	align-items: end;
	gap: 12px;
}

.tasks-time-tracking-list-item-edit-time .ui-system-input-container {
	min-height: 28px;
}

.tasks-time-tracking-list-item-edit-time-calendar {
	width: 130px;
	padding: 0;
}

.tasks-time-tracking-list-item-edit-time-field {
	width: 96px;
	padding: 0;
}

.tasks-time-tracking-list-item-edit-save-btn {
	height: 28px;
}

.tasks-time-tracking-list-item-edit-close-icon {
	--ui-icon-set__icon-size: 20px;
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	cursor: pointer;
	margin-bottom: 4px;
}