.tasks-field-created-date {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 2px;
}

.tasks-field-created-date-icon {
	margin-right: var(--ui-space-inline-2xs2);
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
}

.tasks-field-created-date-separator {
	margin-left: var(--ui-space-inline-2xs2);
	margin-right: var(--ui-space-inline-2xs2);
	font-size: var(--ui-font-size-lg);
	font-weight: var(--ui-font-weight-normal);
	line-height: var(--ui-font-size-2xl);
	color: var(--ui-color-base-4);
}

.tasks-field-created-date.--wrapped .tasks-field-created-date-separator {
	visibility: hidden;
}

.tasks-field-created-date.--wrapped .tasks-field-created-date-id-container {
	padding-left: 3px;
	margin-top: 3px;
}

.tasks-field-created-date-id-container {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.tasks-field-created-date-id-text {
	font-size: var(--ui-font-size-lg);
	font-weight: var(--ui-font-weight-normal);
	line-height: var(--ui-font-size-2xl);
	color: var(--ui-color-base-4);
	transition: 0.2s;
}

.tasks-field-created-date-copy-id-icon {
	margin-left: var(--ui-space-inline-2xs2);
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	--ui-icon-set__icon-size: 20px;
	transition: 0.2s;
}

.tasks-field-created-date-id-container:hover .tasks-field-created-date-id-text {
	color: var(--ui-color-base-3);
}

.tasks-field-created-date-id-container:hover .tasks-field-created-date-copy-id-icon {
	--ui-icon-set__icon-color: var(--ui-color-base-3);
}
