.bx-im-message-compact-comments-panel__container {
	--im-message-compact-comments-panel__background-color_container: rgba(var(--im-color-palette-black-solid-rgb), 0.3);
	--im-message-compact-comments-panel__background-color_container-hover: rgba(var(--im-color-palette-black-solid-rgb), 0.4);
	--im-message-compact-comments-panel__color_unread-counter: var(--im-color-palette-white-base);
	--im-message-compact-comments-panel__background-color_unread-counter: #1bce7b;
	--im-message-compact-comments-panel__border-color_unread-counter: var(--im-color-palette-white-base-rgb, 0.7);

	display: flex;
	height: 28px;
	padding: 4px;
	justify-content: center;
	align-items: center;
	gap: 2px;
	border-radius: 98px;
	background-color: var(--im-message-compact-comments-panel__background-color_container);
	width: fit-content;
	cursor: pointer;
}

.bx-im-message-compact-comments-panel__container:hover {
	background-color: var(--im-message-compact-comments-panel__background-color_container-hover);
}

.bx-im-message-compact-comments-panel__container.--has-comments {
	padding: 4px 6px;
}

.bx-im-message-compact-comments-panel__icon {
	width: 20px;
	height: 20px;
	background: url("./images/white-icon.svg") center center no-repeat;
}

.bx-im-message-compact-comments-panel__counter-container {
	font-size: var(--im-font-size-xs);
	font-weight: var(--im-font-weight-medium);
	line-height: 15px;
	color: var(--im-message-compact-comments-panel__color_unread-counter);
	display: flex;
	align-items: center;
}

.bx-im-message-compact-comments-panel__unread-counter {
	border-radius: 44px;
	border: 1px solid var(--im-message-compact-comments-panel__border-color_unread-counter);
	background: var(--im-message-compact-comments-panel__background-color_unread-counter);
	display: flex;
	height: 18px;
	padding: 2px 6px;
	justify-content: center;
	align-items: center;
	margin-left: 7px;
}
