.editor-chart-group-back-btn {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 38px;
	margin: 0;
	padding: 6px 21px 6px 7px;
	border: none;
	border-radius: 8px;
	background-color: transparent;
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
}

.editor-chart-group-back-btn:hover {
	background-color: var(--ui-color-bg-state-hover-default);
}

.editor-chart-group-back-btn.--collapsed {
	justify-content: center;
}

.editor-chart-group-back-btn__back-wrapper {
	padding: 10px 10px 10px 5px;
}

.editor-chart-group-back-btn__back {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.editor-chart-group-back-btn__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	margin: 0 8px 0 4px;
}

.editor-chart-group-back-btn__icon.--collapsed {
	width: 38px;
	height: 38px;
	margin: 0 20px 0 0;
}

.editor-chart-group-back-btn__title {
	flex-grow: 1;
	padding: 0;
	margin: 0;
	font-size: var(--ui-font-size-lg);
	color: var(--ui-color-palette-gray-80);
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.editor-chart-group-back-btn:hover .editor-chart-group-back-btn__title {
	color: var(--ui-color-palette-gray-80);
}