.editor-chart-search-results-empty-label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 330px;
	width: 100%;
	height: 70%;
	text-align: center;
}

.editor-chart-search-results-empty-label h2 {
	margin: 0;
	font-size: var(--ui-font-size-lg);
    font-weight: var(--ui-font-weight-medium);
    color: var(--ui-color-palette-gray-60);
}

.editor-chart-search-results-empty-label p {
	margin: 1em 3em;
	color: var(--ui-color-palette-gray-60);
    font-size: var(--ui-font-size-lg);
}

.editor-chart-search-results-empty-label a
{
	font-weight: var(--ui-font-weight-medium);
	font-size: var(--ui-font-size-lg);
	line-height: 20px;
	letter-spacing: var(--ui-letter-spacing-l);
}
