.tasks-field-results {
	display: flex;
	flex-direction: column;
	background: rgba(var(--ui-color-palette-white-base-rgb), var(--ui-opacity-40));
	border-radius: var(--ui-border-radius-md);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.tasks-full-card-field-container.tasks-field-highlight .tasks-field-results {
	background-color: var(--ui-color-bg-state-hover-default);
}

.tasks-field-results-more-container {
	display: flex;
	flex-direction: column;
	padding: var(--ui-space-inset-xs) var(--ui-space-inset-md);
	gap: var(--ui-space-inset-xs);
}

.tasks-field-results-more {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.tasks-field-results-more.--border {
	border-top: 1px solid var(--ui-color-divider-default);
	padding-top: var(--ui-space-inset-xs);
}

.tasks-field-results-more-text {
	font-size: var(--ui-font-size-sm);
	color: var(--ui-color-base-4);
}

.tasks-field-results-empty-container {
	background: var(--ui-color-base-8);
	border-radius: var(--ui-border-radius-md);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: var(--ui-space-inset-sm) var(--ui-space-inset-sm2);
}

.tasks-field-results-title {
	z-index: 200;
	display: flex;
	align-items: center;
	flex-direction: row;
	cursor: pointer;
}

.tasks-field-results-title.--list-mode {
	padding-top: var(--ui-space-stack-md2);
	padding-bottom: var(--ui-space-stack-md2);
	cursor: default;
}

.tasks-field-results-title.--sticky {
	position: sticky;
	top: 0;
	background: var(--ui-color-base-8);
	box-shadow: 0 1px rgba(0, 0, 0, 0.04);
}

.tasks-field-results-title-main {
	display: flex;
	align-items: center;
	flex: 1;
}

.tasks-field-results-title-main .ui-icon-set {
	margin-right: 6px;
	--ui-icon-set__icon-size: 24px;
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
}

.tasks-field-results-title-actions {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: var(--ui-space-stack-sm);
}

.tasks-field-results-title-icon {
	--ui-icon-set__icon-size: 20px;
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	cursor: pointer;
}

.tasks-field-results-title-icon.--big {
	--ui-icon-set__icon-size: 24px;
}

.tasks-field-results-title-icon.--auto-left {
	margin-left: auto;
}
