.tasks-task-settings-hint {
	display: flex;
	flex-direction: row;
	gap: 12px;
	width: 100%;
}

.tasks-task-settings-hint-image {
	width: 98px;
	height: 113px;
	padding: 18px 10px;
	box-sizing: border-box;
}

.tasks-task-settings-hint-content {
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 100%;
}

.tasks-task-settings-hint-icon {
	width: 78px;
	height: 78px;
	background: url('./task-settings-hint.png') no-repeat center center;
	background-size: contain;
	opacity: 0.9;
}

.tasks-task-settings-hint-title {
	font-size: 17px;
	font-weight: var(--ui-font-weight-medium);
	line-height: var(--ui-font-size-3xl);
	letter-spacing: -0.1px;
	color: var(--ui-color-base-white-fixed);
}

.tasks-task-settings-hint-text {
	font-size: var(--ui-font-size-lg);
	font-weight: var(--ui-font-weight-normal);
	line-height: var(--ui-font-size-2xl);
	color: var(--ui-color-base-white-fixed);
}