.tasks-field-user-fields {
	display: flex;
	flex-direction: column;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background: rgba(var(--ui-color-palette-white-base-rgb), var(--ui-opacity-40));
	border-radius: var(--ui-border-radius-md);
}

.tasks-full-card-field-container.tasks-field-highlight .tasks-field-user-fields {
	background-color: var(--ui-color-bg-state-hover-default);
}

.tasks-field-user-fields-title {
	display: flex;
	align-items: center;
	background: var(--ui-color-base-8);
	gap: var(--ui-space-inset-xs);
	padding: var(--ui-space-inset-sm) var(--ui-space-inset-sm2);
	cursor: pointer;
	border-radius: var(--ui-border-radius-md) var(--ui-border-radius-md) 0 0;
}

.tasks-field-user-fields-title.--border-radius {
	border-radius: var(--ui-border-radius-md);
}

.tasks-field-user-fields-title.--readonly {
	cursor: default;
}

.tasks-field-user-fields-title-icon {
	--ui-icon-set__icon-size: 24px;
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
}

.tasks-field-user-fields-footer {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--ui-space-inline-2xs);
	padding: var(--ui-space-inset-sm) var(--ui-space-inset-sm2);
}

.tasks-field-user-fields-footer-text {
	color: var(--ui-color-base-4);
}

.tasks-field-user-fields-footer-fill {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tasks-field-user-fields-footer-fill-text {
	color: var(--ui-color-accent-main-primary);
}

.tasks-field-user-fields-footer-fill-icon {
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
	--ui-icon-set__icon-size: 18px;
}
