.bizproc-rag-selector__base {
	position: relative;
	background: var(--ui-color-bg-content-secondary);
	border-radius: 10px;
	padding: 17px 31px 28px 20px;
	width: 100%;
	box-sizing: border-box;
}

.bizproc-rag-selector__base-remove-icon {
	position: absolute;
	right: 8px;
	top: 7px;
	cursor: pointer;
}

.bizproc-rag-selector__base .ui-ctl-label-text {
	font-size: var(--ui-font-size-sm);
	line-height: var(--ui-font-line-height-sm);
	color: var(--ui-color-base-3);
}

.bizproc-rag-selector__base-text {
	color: var(--ui-color-base-4);
	font-size: var(--ui-font-size-sm);
	line-height: var(--ui-font-line-height-sm);
}

.bizproc-rag-selector__base .ui-tile-uploader {
	width: 100%;
}

.bizproc-rag-selector__base .ui-form-row .ui-tile-uploader-drop-area {
	margin-top: 22px;
}

.bizproc-rag-selector__base .ui-form-label {
	margin-bottom: 5px;
}

.bizproc-rag-selector__base .ui-ctl-element,
.bizproc-rag-selector__base .ui-ctl {
	height: 34px;
	min-height: 34px;
}

.bizproc-rag-selector__base .ui-ctl-textarea textarea.ui-ctl-element,
.bizproc-rag-selector__base .ui-ctl-textarea {
	height: 80px;
	min-height: 80px;
}

.ui-form-row.--uploader {
	padding-top: 7px;
}

.bizproc-rag-selector__base .ui-tile-uploader-items {
	margin-top: 12px;
	grid-template-columns: repeat(auto-fit, minmax(80px, 80px));
	gap: 10px;
}

.bizproc-rag-selector__base .ui-tile-uploader-item {
	max-width: 80px;
	height: 82px;
	border-radius: 8px;
	border: 1px solid #f0f0f0;
	padding: 3px;
}

.bizproc-rag-selector__base .ui-tile-uploader-item-name {
	--font-size: var(--ui-font-size-4xs);
}

.bizproc-rag-selector__base .ui-tile-uploader-item-preview svg {
	width: 30px;
}

.bizproc-rag-selector__base .ui-tile-uploader-item-preview {
	margin-top: 10px;
}

.bizproc-rag-selector__base .ui-tile-uploader .ui-icon-set {
	--ui-icon-set__icon-size: 20px;
}

.bizproc-rag-selector__base .ui-tile-uploader:not(.--compact) .ui-tile-uploader-item {
	box-shadow: none;
}

.bizproc-rag-selector__base .ui-tile-uploader:not(.--compact) .ui-tile-uploader-item:hover {
	border-color: var(--ui-color-accent-main-primary-alt-2);
}

.bizproc-rag-selector__base .ui-tile-uploader-item-state-icon {
	width: 13px;
	height: 13px;
	background-size: 13px;
}

.bizproc-rag-selector__base .ui-tile-uploader-item-status {
	left: 22px;
}

.bizproc-rag-selector__base .ui-tile-uploader-item-status-name {
	font-size: var(--ui-font-size-4xs);
}

.bizproc-rag-selector__base .ui-tile-uploader-item-state-remove {
	width: 20px;
}

.bizproc-rag-selector__base .ui-tile-uploader-item-state-icon,
.bizproc-rag-selector__base .ui-tile-uploader-item-loader {
	background-size: 14px;
	left: 4px;
	width: 15px;
	height: 15px;
}

.bizproc-rag-selector__base .ui-tile-uploader-item-status {
	left: 22px;
	right: 14px;
}

.bizproc-rag-selector__base .ui-tile-uploader-item-status-name {
	font-size: var(--ui-font-size-4xs);
}

.bizproc-rag-selector__base .ui-tile-uploader-item:hover .ui-tile-uploader-item-remove,
.bizproc-rag-selector__base .ui-tile-uploader-item.--selected .ui-tile-uploader-item-remove {
	width: auto;
}

.bizproc-setup-template__textarea-wrapper {
	position: relative;
	width: 100%;
}

.bizproc-rag-selector__char-counter {
	position: absolute;
	bottom: 8px;
	right: 8px;
	font-size: var(--ui-font-size-4xs);
	color: var(--ui-color-base-70);
	padding: 0 3px;
}

.bizproc-rag-selector__base + .bizproc-rag-selector__base,
.bizproc-rag-selector__base + .ui-btn {
	margin-top: 20px;
}

.bizproc-setup-template__error-text {
	display: flex;
	align-items: center;
	font: 13px/16px var(--ui-font-family-primary, var(--ui-font-family-system));
	color: var(--ui-field-color-warning);
	margin-top: 3px;
}

.bizproc-setup-template__error-text .ui-icon-set.--warning {
	--ui-icon-set__icon-size: 20px;
	--ui-icon-set__icon-color: var(--ui-field-color-warning);
}

.bizproc-rag-selector__base-error {
	border-radius: 12px;
	border: 1px solid var(--ui-color-accent-soft-orange-1);
	background: var(--ui-color-accent-soft-orange-3);
	padding: 14px 34px 14px 16px;
	color: var(--ui-color-text-primary);
	font-size: var(--ui-font-size-xs);
	line-height: var(--ui-font-line-height-2xs);
	margin-bottom: 12px;
}

.bizproc-rag-selector__base.--view {
	border: 1px solid var(--ui-color-gray-20);
	background: var(--ui-color-bg-content-primary);
	padding-bottom: 17px;
}

.bizproc-rag-selector__base-view-title {
	color: var(--ui-color-text-primary);
	font-size: var(--ui-font-size-lg);
	font-weight: var(--ui-font-weight-medium);
	line-height: var(--ui-font-line-height-2xs);
	margin-bottom: 18px;
	cursor: pointer;
	transition: color .2s;
}

.bizproc-rag-selector__base-view-title:hover {
	color: var(--ui-color-accent-main-link);
}

.bizproc-rag-selector__base-view-desc {
	color: var(--ui-color-base-3);
	font-size: var(--ui-font-size-md);
	line-height: var(--ui-font-line-height-sm);
	display: -webkit-box;
	text-overflow: ellipsis;
	word-break: break-word;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.bizproc-rag-selector__base.--view .ui-ctl-label-text {
	color: var(--ui-color-base-50);
	margin-bottom: 7px;
}

.ui-message-box .popup-window-content {
	padding-bottom: 0;
}
