
/*normalize*/

.tasks-full-card-placeholder__head,
.tasks-full-card-placeholder__descr {
	margin: 0;
}

/*normalize end*/


.tasks-full-card-placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 100%;
	height: 100%;
}
.tasks-full-card-placeholder__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	text-align: center;
}
.tasks-full-card-placeholder__img-container {
	padding: 5px 0 10px 0;
	max-width: 210px;
	line-height: 0;
}
.tasks-full-card-placeholder__img {
	max-width: 100%;
}
.tasks-full-card-placeholder__head {
	padding: 5px 0 5px 0;
	line-height: 26px;
	font-size: 19px;
	color: var(--ui-color-base-1);
}
.tasks-full-card-placeholder__descr {
	padding: 5px 0 5px 0;
	line-height: 21px;
	font-size: 16px;
	color: var(--ui-color-base-2);
}
.tasks-full-card-placeholder__action-container {
	padding: 15px 0 5px 0;
}
.tasks-full-card-placeholder__action {}
