.bx-im-transcription-text__container {
	--im-transcription-text__color_default-text: var(--im-color-palette-gray-90);
	--im-transcription-text__color_error-text: var(--im-color-palette-gray-50);
	--im-transcription-text__color_error-link: var(--im-color-accent-blue);
	--im-message-audio__divider-color: rgba(var(--im-color-palette-black-solid-rgb), 0.08);

	color: var(--im-transcription-text__color_default-text);
	font: var(--im-font-size-lg)/var(--im-font-line-height-md) var(--im-font-family-system);
	overflow: hidden;
	max-width: 308px;
}

.bx-im-transcription-text__content {
	margin-top: 8px;
}

.bx-im-transcription-text__content .--error {
	color: var(--im-transcription-text__color_error-text);
}

.bx-im-transcription-text__divider {
	height: 1px;
	background-color: var(--im-message-audio__divider-color);
	margin: 8px 0;
}

.bx-im-transcription-text__error-link {
	text-decoration: none;
	cursor: pointer;
	color: var(--im-transcription-text__color_error-link);
}
