.ui-popupcomponentmaker-wrap.--with-border-radius-content {
	margin-bottom: -20px;
}

.ui-popup-with-header__skeleton {
	margin-top: -17px;
	margin-left: -19px;
	background-image: url("./images/popup-skeleton.svg");
	background-repeat: no-repeat;
	background-size: 380px 369px;
	height: 342px !important;
	border-radius: var(--ui-border-radius-3xl);
}

.ui-popupcomponentmaker__content-wrap {
	padding: 0 13px 13px 13px;

}

.ui-popupcomponentmaker__content-wrap-round {
	border-radius: 22px;
	position: relative;
	top: -20px;
	background: rgba(247, 248, 249, .88);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
}

.active-scroll .ui-popupcomponentmaker__content-wrap {
	padding: 0 13px 0 13px;
	overflow: hidden;
	-webkit-transform: translateZ(0);
	border-radius: 0 0 22px 22px;
}

.ui-popup-with-header__content {
	height: 0;
	overflow: hidden;
	scrollbar-width: thin;
	scrollbar-color: rgba(82, 92, 105, .2) transparent;
	transition: height .5s ease;
}

.active-scroll .ui-popup-with-header__content {
	margin: 0 -9px 0 0;
	padding: 0 4px 0 0;
}

.active-scroll .ui-popup-with-header__content .ui-popupcomponentmaker__content--section:last-child {
	margin-bottom: 13px;
}

.ui-popup-with-header__content::-webkit-scrollbar {
	width: 4px;
}

.ui-popup-with-header__content::-webkit-scrollbar-track {
	background-color: rgba(82, 92, 105, .05);
	margin: 13px 0;
}

.ui-popup-with-header__content::-webkit-scrollbar-thumb {
	background-color: rgba(82, 92, 105, .2);
	margin: 13px 0;
	border-radius: 18px;
}

.ui-popup-with-header__content::-webkit-scrollbar-thumb:hover {
	background-color: rgba(82, 92, 105, .5);
}

.ui-popupconstructor-content-item-wrapper {
	display: flex;
	padding: 12px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
}

.ui-popupconstructor-content-item-wrapper.--noflex {
	display: block;
}

.ui-popupconstructor-content-item-wrapper-title {
	display: flex;
	align-items: center;
	margin-bottom: 3px;
	overflow: hidden;
}

.ui-popupconstructor-content-item__title {
	max-width: 100%;
	font-size: var(--ui-font-size-md);
	font-weight: var(--ui-font-weight-medium);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.ui-popupconstructor-content-item__icon {
	margin-right: 4px;
}

.ui-popupconstructor-content-item-wrapper_information {
	width: 100%;
	max-width: 210px;
}

.ui-popupconstructor-content-item-wrapper_information .ui-popupconstructor-content-item__icon {
	margin-right: 3px;
	margin-left: -3px;
	--ui-icon-set__icon-size: 22px;
}

.ui-popupconstructor-content-item__description,
.ui-popupconstructor-content-item__more-link {
	display: inline;
	font-size: var(--ui-font-size-xs);
	font-weight: var(--ui-font-weight-normal);
	margin-top: 6px;
	line-height: 13px;
	letter-spacing: -.1px;
}

.ui-popupconstructor-content-item__more-link {
	margin-top: 0;
	border-bottom: 1px solid transparent;
	transition: color .3s;
	cursor: pointer;
	color: var(--ui-color-link-primary-base);
	margin-left: 3px;
}

.ui-popupconstructor-content-item__more-link:hover {
	color: #083464!important;
}

.ui-popupconstructor-content-item-wrapper_button {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.ui-popupconstructor-content-item-wrapper_button .ui-btn {
	height: 25px;
	font-size: var(--ui-font-size-3xs);
	color: var(--ui-color-base-default);
}

.ui-popupconstructor-content-item-wrapper_button .ui-btn.ui-btn-light {
	transition: opacity .3s;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
}

.ui-popupconstructor-content-item-wrapper_button .ui-btn.ui-btn-light:hover {
	opacity: .9;
}

.ui-popupconstructor-content-item__button-description {
	text-align: center;
	font-size: var(--ui-font-size-4xs);
	font-weight: var(--ui-font-weight-normal);
	margin-top: 8px;
}

.ui-popupconstructor-content-item-wrapper__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom:7px;
}

.ui-popupconstructor-content-item__header-button {
	margin-left: auto
}

/* region Popup widget skeleton */
.popup-with-header-skeleton__wrap {
	height: 100%;
	max-height: 404px;
	border-radius: 20px;
	background: rgba(247, 248, 249, .88);
	box-shadow: 0 12px 27px rgba(0, 0, 0, .14);
	backdrop-filter: blur(20.387113571166992px);
	box-sizing: border-box;
	overflow: hidden;
}

.popup-with-header-skeleton__header {
	padding: 12px;
	height: 188px;
	background-color: tomato;
	background-position: center top;
	background-size: 250% auto;
	box-sizing: border-box;
}

.popup-with-header-skeleton__line {
	position: relative;
	width: 100%;
	height: 6px;
	border-radius: 20px;
	background: rgba(149,156,164,.42);
	overflow: hidden;
}

.popup-with-header-skeleton__line:before,
.popup-with-header-skeleton__line:after,
.popup-with-header-skeleton__header-bottom-circle:before,
.popup-with-header-skeleton__header-bottom-circle:after,
.popup-with-header-skeleton__header-circle-inner:before,
.popup-with-header-skeleton__header-circle-inner:after {
	content: '';
	display: block;
	position: absolute;
	left: -100%;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, transparent 0%, #ededed 50%, transparent 100%);
	animation: popup-with-header-load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

.popup-with-header-skeleton__header .popup-with-header-skeleton__line {
	background: rgba(255,255,255,.42);
}

.popup-with-header-skeleton__line.--dark-animation:before,
.popup-with-header-skeleton__line.--dark-animation:after,
.popup-with-header-skeleton__header .popup-with-header-skeleton__line:before,
.popup-with-header-skeleton__header .popup-with-header-skeleton__line:after {
	background: linear-gradient(to right, transparent 0%, #d9d9d9 50%, transparent 100%);
}

.popup-with-header-skeleton__header-top {
	display: flex;
	align-items: center;
	margin-bottom: 14px;
}

.popup-with-header-skeleton__header-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 8px;
	min-width: 36px;
	height: 36px;
	border-radius: 100%;
	background: rgba(255,255,255,.2);
}

.popup-with-header-skeleton__header-circle-inner {
	position: relative;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	background: rgba(255,255,255,.42);
	overflow: hidden;
}

.popup-with-header-skeleton__header-bottom {
	display: flex;
	align-items: center;
	padding: 10px 14px;
	border-radius: 12px;
	background: rgba(255,255,255,.1);
}

.popup-with-header-skeleton__header-bottom-circle-box {
	position: relative;
	margin-right: 14px;
	max-width: 86px;
}

.popup-with-header-skeleton__header-bottom-circle {
	position: relative;
	min-width: 70px;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background: #d9d9d9;
	overflow: hidden;
}

.popup-with-header-skeleton__header-bottom-circle-blue {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 17px;
	height: 17px;
	border-radius: 100%;
	background: #2fc6f6;
}

.popup-with-header-skeleton__bottom {
	padding: 12px;
	background: #fff;
	border-radius: 22px;
	position: relative;
	top: -20px;
	background: rgba(247, 248, 249, .88);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
}

.popup-with-header-skeleton__bottom-inner {
	padding: 12px;
	border-radius: 12px;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
	margin-bottom: 12px;
}

.popup-with-header-skeleton__bottom-title,
.popup-with-header-skeleton__bottom-desc {
	width: 100%;
}

.popup-with-header-skeleton__bottom-title {
	display: flex;
}

.popup-with-header-skeleton__bottom-left {
	width: 70%;
}

.popup-with-header-skeleton__bottom-right {
	margin-left: auto;
}

.popup-with-header-skeleton-btn {
	margin-bottom: 14px;
	width: 80px;
	height: 25px;
	border-radius: 6px;
	background: var(--ui-color-design-filled-stroke);
}

.popup-with-header-skeleton-btn.--green {
	background: var(--ui-color-design-filled-success-bg);
}

@keyframes popup-with-header-load {
	0% {
		left: -100%;
	}
	100% {
		left: 100%;
	}
}
/* endregion */
