.bx-ui-smiles-box {
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
	overflow: hidden;
	border-radius: var(--ui-border-radius-3xl);
}

.bx-ui-smiles-emoji-wrap, .bx-ui-smiles-set-grid {
	padding: 20px 18px;
	overflow: hidden;
	overflow-y: auto;
}

.bx-ui-smiles-emoji-wrap {
	padding-top: 0;
	padding-bottom: 0;
}

.bx-ui-smiles-content {
	flex: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.bx-ui-smiles-emoji-grid, .bx-ui-smiles-set-grid {
	display: grid;
	gap: 18px;
	place-items: center;
	align-content: center;
	justify-content: space-between;
}

.bx-ui-smiles-set-grid {
	--ui-smiles-smile-max-weight: 86px;
	grid-template-columns: repeat(auto-fill, clamp(26px, var(--ui-smiles-smile-max-weight), 86px));
}

.bx-ui-smiles-emoji-grid {
	grid-template-columns: repeat(auto-fill, 26px);
	padding: 16px 0 16px;
}

.bx-ui-smiles-elements {
	display: inline-block;
}

.bx-ui-smiles-category {
	flex: 0 0 100%;
	font-size: var(--ui-font-size-sm);
	color: var(--ui-color-base-3);
	font-weight: var(--ui-font-weight-regular, 400);
}

.bx-ui-smiles-smile {
	display: flex;
	min-height: 26px;
	min-width: 26px;
	max-height: 86px;
	max-width: 86px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.bx-ui-smiles-smile-icon {
	display: inline-block;
	object-fit: contain;
	max-height: 72px;
	max-width: 72px;
}

.bx-ui-smiles-set-emoji {
	font-size: 26px;
	line-height: 28px;
	opacity: .8;
}

.bx-ui-smiles-set-emoji-mac {
	font-size: 33px;
	line-height: 30px;
	opacity: .8;
}

.bx-ui-smiles-set-emoji-win {
	font-size: 26px;
	line-height: 28px;
	opacity: .8;
}

.bx-ui-smiles-set-emoji-linux {
	font-size: 26px;
	line-height: 28px;
	opacity: .8;
}

.bx-ui-smiles-sets {
	display: flex;
	flex: 0 0 auto;
	gap: 20px;
	flex-wrap: nowrap;
	justify-content: center;
	border-top: 1px solid var(--ui-color-base-7);
	padding: 12px 18px 12px 18px;
	overflow-x: auto;
	background-color: var(--ui-color-base-8);
}

.bx-ui-smiles-set {
	display: flex;
	height: 42px;
	width: 42px;
	object-fit: contain;
	flex: 0 0 42px;
	border-bottom: 2px solid  #f7f7f7;
	box-sizing: border-box;
	padding: 5px;
	cursor: pointer;
	transition: all .2s;
}

.bx-ui-smiles-set-icon {
	display: inline-block;
	width: 100%;
}

.bx-ui-smiles-set-icon-error,
.bx-ui-smiles-smile-icon-error
{
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2275%22%20height%3D%2298%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23E5E8EB%22%20d%3D%22M0%200h54l21%2022.227V98H0z%22/%3E%0A%20%20%20%20%3Cg%20fill%3D%22%23B9BEC4%22%3E%0A%20%20%20%20%20%20%3Cpath%20fill-rule%3D%22nonzero%22%20d%3D%22M7%2034.897l7.515%2053.474%2023.219-3.263-.676-34.282-6.84-19.191%202.611-.367L7%2034.897zM36.367%2083.28l-21.14%202.97L8.27%2036.739l21.139-2.97%206.227%2017.258.732%2032.255z%22/%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M37.529%2079.675l-.147-15.915-9.094-6.782-10.23%2013.435%201.654%2011.766z%22/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23535C69%22%20d%3D%22M54%200l21%2022.227H54z%22%20opacity%3D%22.3%22/%3E%0A%20%20%20%20%3Cg%20fill%3D%22%23B9BEC4%22%20transform%3D%22rotate%285%20-359.005%20511.676%29%22%3E%0A%20%20%20%20%20%20%3Cpath%20fill-rule%3D%22nonzero%22%20d%3D%22M.316.001l3.638%2019.956L1%2054h24V.001H.316zM24%2052H2.353l1.601-16.033%201.621-16.01L2%202h22v50z%22/%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M20.008%2049.591v-2.97l-12-11.881L1.96%2049.591z%22/%3E%0A%20%20%20%20%20%20%3Cellipse%20cx%3D%2211.712%22%20cy%3D%2214.785%22%20rx%3D%225.231%22%20ry%3D%225.172%22/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.bx-ui-smiles-set-selected
{
	border-bottom-color: #17A3EA;
}

.bx-ui-smiles-loading-circular {
	height: 80px;
	width: 80px;
	-webkit-animation: bx-ui-smiles-loading-rotate 2s linear infinite;
	animation: bx-ui-smiles-loading-rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.bx-ui-smiles-loading-path {
	stroke: rgba(215,220,223,.74);
	stroke-width: 1.5;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	-webkit-animation: bx-ui-smiles-loading-dash 1.5s ease-in-out infinite;
	animation: bx-ui-smiles-loading-dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

.bx-ui-smiles-loading-inner-path {
	stroke: rgba(215,220,223,.17);
	stroke-width: 1.5;
	stroke-dasharray: 200, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
}

.bx-ui-smiles-loading-msg {
	margin: 0;
}

@keyframes bx-ui-smiles-loading-rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes bx-ui-smiles-loading-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

.bx-ui-smiles-category-filter {
	min-height: 35px;
	display: flex;
	gap: 4px;
	margin: 20px 16px 6px 16px;
	justify-content: space-between;

	overflow: hidden;
	overflow-x: auto;
}

.bx-ui-smiles-category-filter-img {
	max-height: 30px;
	max-width: 30px;
	min-height: 30px;
	min-width: 30px;
	display: flex;
	border-radius: 100%;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
}

.bx-ui-smiles-category-filter-img:hover {
	background-color: #E8EAEB;
}

.bx-ui-smiles-category-filter-img-animals {
	background-image: url('../images/smile-category-animals.svg');
}

.bx-ui-smiles-category-filter-img-flags {
	background-image: url('../images/smile-category-flags.svg');
}

.bx-ui-smiles-category-filter-img-food {
	background-image: url('../images/smile-category-food.svg');
}

.bx-ui-smiles-category-filter-img-hobby {
	background-image: url('../images/smile-category-hobby.svg');
}

.bx-ui-smiles-category-filter-img-objects {
	background-image: url('../images/smile-category-objects.svg');
}

.bx-ui-smiles-category-filter-img-people {
	background-image: url('../images/smile-category-people.svg');
}

.bx-ui-smiles-category-filter-img-symbols {
	background-image: url('../images/smile-category-symbols.svg');
}

.bx-ui-smiles-category-filter-img-travel {
	background-image: url('../images/smile-category-travel.svg');
}

.bx-ui-smiles-box ::-webkit-scrollbar {
	height: 4px;
	width: 4px;
}

.bx-ui-smiles-box ::-webkit-scrollbar-thumb {
	background: #dde2e6;
	border-radius: 5px;
	cursor: pointer;
}