.tasks-field-replication-row {
	display: flex;
	align-items: center;
	gap: var(--ui-space-inline-2xs2);
}

.tasks-field-replication-link {
	cursor: pointer;
	color: var(--ui-color-accent-main-primary);
}

.tasks-field-replication-secondary {
	color: var(--ui-color-base-2);
}

.tasks-bottom-sheet-replicate-content > .b24-bottom-sheet-content {
	box-sizing: border-box;
}

.tasks-field-replication-sheet {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.tasks-field-replication-sheet-body {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: var(--ui-space-stack-md2);
	padding-bottom: var(--ui-space-stack-md2);
	overflow-y: auto;
	scrollbar-width: thin;
}

.tasks-field-replication-sheet-description-text {
	color: var(--ui-color-base-3);
	line-height: var(--ui-font-size-2xl);
	font-size: var(--ui-font-size-lg);
}

.tasks-field-replication-helpdesk {
	cursor: pointer;
}

.tasks-field-replication-section {
	display: flex;
	flex-direction: column;
	gap: var(--ui-space-stack-xs);
}

.tasks-field-replication-section-head .ui-system-input {
	margin: 0;
	border: none;
	padding: 2px 0 0 0;
	background-color: transparent;
}

.tasks-field-replication-section-head .ui-system-input-container {
	margin: 0;
	border: none;
	padding: 0;
	background-color: transparent;
	min-height: auto;
}

.tasks-field-replication-section-head .ui-system-input-value {
	color: var(--ui-color-design-plain-a-content);
	font-size: var(--ui-font-size-lg);
}

.tasks-field-replication-sheet__stack {
	display: flex;
	flex-direction: column;
	gap: var(--ui-space-stack-xs);
}
.tasks-field-replication-sheet__stack + .tasks-field-replication-sheet__stack {
	margin: var(--ui-space-stack-xs) 0 0 0;
}

.tasks-replication-sheet-action-row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: var(--ui-space-inline-2xs2);
	padding: var(--ui-space-inline-xs) var(--ui-space-stack-sm);
	background-color: var(--ui-color-bg-content-secondary);
	min-height: 28px;
}

.tasks-replication-sheet-action-row.--selectable {
	cursor: pointer;
}

.tasks-replication-sheet-action-row:first-child {
	border-top-left-radius: var(--ui-border-radius-md);
	border-top-right-radius: var(--ui-border-radius-md);
}

.tasks-replication-sheet-action-row:last-child {
	border-bottom-left-radius: var(--ui-border-radius-md);
	border-bottom-right-radius: var(--ui-border-radius-md);
}

.tasks-replication-sheet-action-row:not(.--active) .tasks-field-replication-row.--text,
.tasks-replication-sheet-action-row:not(.--active) .tasks-replication-sheet-action-row__text,
.tasks-replication-sheet-action-row:not(.--active) {
	color: var(--ui-color-base-3);
}

.tasks-replication-sheet-action-row .tasks-card-checkbox {
	margin: 0;
	line-height: 0;
}

.tasks-replication-sheet-action-row input.tasks-elements-radio[type="radio"] {
	display: block;
}

.tasks-replication-sheet-action-row__hint {
	margin: 0 0 0 auto;
}
