.tasks-field-date-plan {
	cursor: pointer;
}

.tasks-field-date-plan.--readonly {
	cursor: default;
}

.tasks-field-date-plan-content {
	display: flex;
	align-items: center;
	gap: var(--ui-space-inline-xs);
}

.tasks-field-date-plan-sheet {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.tasks-field-date-plan-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tasks-field-date-plan-close {
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	cursor: pointer;
}

.tasks-field-date-plan-description {
	margin: var(--ui-space-stack-md2) 0;
	color: var(--ui-color-base-3);
}

.tasks-field-date-plan-fields {
	display: flex;
	flex-direction: column;
	gap: var(--ui-space-stack-md);
	max-width: 350px;
}

.tasks-field-date-plan-switchers {
	display: flex;
	flex-direction: column;
	gap: var(--ui-space-inset-md2);
	margin-top: var(--ui-space-stack-5xl);
	color: var(--ui-color-base-2);
}

.tasks-field-date-plan-switcher {
	display: flex;
	align-items: center;
	gap: var(--ui-space-stack-xs2);
	max-width: max-content;
	cursor: pointer;
}

.tasks-field-date-plan-switcher a {
	display: flex;
}

.tasks-field-date-plan-footer {
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
	padding-right: 4px;
	padding-top: var(--ui-space-inline-xl);
	border-top: var(--ui-border-width-thin) solid var(--ui-color-divider-default);
}

.tasks-field-date-plan-switcher-lock {
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
	--ui-icon-set__icon-size: 20px;
	opacity: var(--ui-opacity-80);
}
