.tasks-onboarding-new-card-popup-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.tasks-onboarding-new-card-popup {
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
}

.tasks-onboarding-new-card-popup-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.tasks-onboarding-new-card-popup-content-gradient {
	position: relative;
	padding: 4px;
	border-radius: 28px;
	background: linear-gradient(90deg, #9764E4 0%, #12387A00 25%, #15357500 75%, #324F78 100%);
	z-index: 1;
}

.tasks-onboarding-new-card-popup-content {
	display: flex;
	position: relative;
	min-height: 525px;
	width: 925px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	border-radius: 24px;
	overflow: visible;
}

.tasks-onboarding-new-card-popup-content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('./background.svg') no-repeat;
	background-size: cover;
	opacity: 0.96;
	border-radius: 24px;
	z-index: -1;
}

.tasks-onboarding-new-card-popup-left {
	flex: 1;
	padding: 46px 0 50px 52px;
	display: flex;
	flex-direction: column;
	max-width: 516px;
}

.tasks-onboarding-new-card-popup-title {
	font-size: 30px;
	font-weight: 600;
	line-height: normal;
	color: var(--ui-color-base-8);
	margin-bottom: 30px;
}

.tasks-onboarding-new-card-popup-feature-list {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-bottom: 44px;
	flex: 1;
}

.tasks-onboarding-new-card-popup-feature {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.tasks-onboarding-new-card-popup-feature-content {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.tasks-onboarding-new-card-popup-feature-icon {
	font-size: 32px;
	line-height: 1;
	flex-shrink: 0;
}

.tasks-onboarding-new-card-popup-feature-title {
	font-size: var(--ui-font-size-xl);
	font-weight: 600;
	line-height: normal;
	color: var(--ui-color-base-8);
}

.tasks-onboarding-new-card-popup-feature-subtitle {
	font-size: var(--ui-font-size-md);
	font-weight: 400;
	line-height: normal;
	color: var(--ui-color-base-7);
}

.tasks-onboarding-new-card-popup-right {
	position: absolute;
	top: 52%;
	right: -15%;
	transform: translateY(-50%);
	width: 50%;
	height: 92%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tasks-onboarding-new-card-popup-cosmozeph {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	object-fit: contain;
	z-index: 1;
	pointer-events: none;
}

.tasks-onboarding-new-card-popup-video-border {
	position: relative;
	padding: 4px;
	border-radius: 20px;
	background: rgba(113, 192, 255, 0.2);
	top: -35px;
	z-index: 0;
	width: 87%;
}

.tasks-onboarding-new-card-popup-video {
	display: block;
	border-radius: 16px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
	width: 100%;
	height: 100%;
}

.tasks-onboarding-new-card-popup-pill {
	position: absolute;
	border-radius: 16px;
	border: 3px solid rgba(113, 192, 255, 0.10);
	background: rgba(113, 192, 255, 0.30);
	opacity: 0.8;
	box-shadow: 0 0 0 0 #FFF;
	color: var(--ui-color-base-8);
	font-size: var(--ui-font-size-sm);
	font-weight: 600;
	padding: 1px 10px;
}

.tasks-onboarding-new-card-popup-pill.--fast {
	left: 75px;
	top: 32px;
}

.tasks-onboarding-new-card-popup-pill.--simple {
	top: 2px;
	left: 154px;
}

.tasks-onboarding-new-card-popup-pill.--ai {
	right: 194px;
	top: 38px;
}
