.node-settings-rules-panel {
	position: absolute;
	bottom: 0;
	right: 0;
	height: calc(100% - 46px);
	width: 580px;
	background: var(--ui-color-palette-white-base);
	border-radius: 8px;
	z-index: 4;
	box-sizing: border-box;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-system));
	display: flex;
	flex-direction: column;
}

.slide-rule-panel-enter-active,
.slide-rule-panel-leave-active {
	transition: all 0.2s ease;
}

.slide-rule-panel-enter-from,
.slide-rule-panel-leave-to {
	opacity: 0;
	transform: translateY(100%);
}

.slide-rule-panel-enter-to,
.slide-rule-panel-leave-from {
	opacity: 1;
	transform: translateY(0);
}

.node-settings-rules-panel.--saving {
	pointer-events: none;
}

.node-settings-rules-layout__back {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(10, 45, 95, 0.25);
	top: 0;
	left: 0;
	z-index: 3;
}

.node-settings-rules-panel__header {
	display: flex;
	align-items: center;
	padding: 12px 18px;
	border-bottom: 1px solid var(--ui-color-palette-gray-15);
	font-size: 15px;
	line-height: 20px;
	color: var(--ui-color-palette-black-base);
	font-weight: var(--ui-font-weight-medium);
}

.node-settings-rules-panel__header_label {
	margin: 0 8px;
}

.node-settings-rules-panel__header_back {
	cursor: pointer;
}

.node-settings-rules-panel__header_question {
	margin-left: auto;
}

.node-settings-rules-panel__content {
	flex: 1;
	overflow-y: auto;
	padding: 0 18px;
}

.node-settings-rules-panel__content::-webkit-scrollbar,
.node-settings-rules-panel__content::-webkit-scrollbar {
	width: 0;
}

.node-settings-rules-panel__footer {
	padding: 10px 18px;
	border-top: 1px solid var(--ui-color-palette-gray-15);
}

.node-settings-rules-panel .rule-card > .add-construction,
.node-settings-rules-panel .add-rule-card {
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	margin-top: 18px;
	justify-content: center;
	padding: 5px 0;
}

.node-settings-rules-panel .add-rule-card {
	margin-bottom: 18px;
}
