.bx-im-sticker-item {
	width: 85px;
	height: 85px;
	border-radius: 6px;
	flex-shrink: 0;
	padding: 7px 6px 6px 7px;
	cursor: pointer;
	transition: padding 0.2s ease;
}

.bx-im-sticker-item:hover {
	padding: 0;
}

.bx-im-sticker-item img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
