.bx-im-tab-stickers__container {
	background-color: var(--ui-color-bg-vibrant-less);
	flex-grow: 1;
}

.bx-im-tab-stickers__packs-container {
	border-radius: 16px 16px 0 0;
	box-sizing: border-box;
	height: 394px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom: 46px;
	background-color: var(--ui-color-bg-vibrant-less);
}

.bx-im-tab-stickers__loader {
	padding-bottom: 15px;
}




