.tasks-history-grid-loader-spinner {
	width: var(--ui-size-8xl);
	height: var(--ui-size-8xl);
	border: 3px solid var(--ui-color-base-5);
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: history-grid-spinner-loader-animation 1s linear infinite;
}

@keyframes history-grid-spinner-loader-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
