.tasks-field-reminder-sheet {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: var(--ui-space-stack-sm);
}

.tasks-field-reminder-sheet-header {
	display: flex;
	justify-content: space-between;
}

.tasks-field-reminder-sheet-header .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	cursor: pointer;
}
