.tasks-template-permissions-popup {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0 10px 10px;
}

.tasks-template-permissions-popup-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: var(--ui-space-stack-sm2);
}

.tasks-template-permissions-popup-close {
	--ui-icon-set__icon-size: 24px;
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	cursor: pointer;
}

.tasks-template-permissions-popup-content {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto 20px;
	gap: 0 var(--ui-space-inline-sm);
	max-height: 416px;
	overflow-y: scroll;
	margin-right: -10px;
	padding-right: 10px;
}

.tasks-template-permissions-popup-header {
	color: var(--ui-color-base-50);
}

.tasks-template-permissions-permission {
	text-decoration: var(--ui-color-accent-main-link-underline) dashed underline;
	cursor: pointer;
}

.tasks-template-permissions-remove {
	--ui-icon-set__icon-size: 20px;
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	display: flex;
	cursor: pointer;
}

.tasks-template-permissions-of-user .ui-popup-menu-item-subtitle {
	white-space: break-spaces;
}

.tasks-template-permissions-popup-footer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	padding-top: var(--ui-space-stack-xl);
}

.tasks-template-permissions-separator {
	grid-column: 1 / -1;
	height: 1px;
	margin: var(--ui-space-stack-sm) 0;
}

.tasks-template-permissions-separator:first-child {
	margin-top: 0;
}

.tasks-template-permissions-separator.--header {
	background: var(--ui-color-divider-default);
}

@supports not selector(::-webkit-scrollbar) {
	.tasks-template-permissions-popup-content {
		scrollbar-color: rgba(0, 0, 0, 0.11) transparent;
		scrollbar-width: thin;
	}
}

.tasks-template-permissions-popup-content::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
	width: 5px;
}

.tasks-template-permissions-popup-content::-webkit-scrollbar-track {
	background: transparent;
}

.tasks-template-permissions-popup-content::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	cursor: pointer;
	transition: .2s;
}
