.bizproc-setuptemplateactivity-title-field {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	padding: 0 6px;
}

.bizproc-setuptemplateactivity-title-field__label.ui-ctl-title {
	font-size: var(--ui-font-size-sm);
	letter-spacing: var(--ui-letter-spacing-l);
	color: var(--ui-color-base-3);
}

.bizproc-setuptemplateactivity-title-field .ui-ctl-container {
	flex-grow: 1;
}

.bizproc-setuptemplateactivity-title-field__controls {
	padding-top: 21px;
}

.bizproc-setuptemplateactivity-title-field__delete-icon {
	cursor: pointer;
}

.bizproc-setuptemplateactivity-title-field__delete-icon:hover {
	background-color: var(--ui-color-accent-main-primary-alt);
}

.bizproc-setuptemplateactivity-title-field__container {
	display: flex;
	align-items: center;
	gap: 8px;
}

.bizproc-setuptemplateactivity-title-field__container .ui-ctl {
	height: 38px;
	min-height: 38px;
}

.bizproc-setuptemplateactivity-title-field__icon-selector.ui-ctl {
	max-width: 76px;
	cursor: pointer;
}

.bizproc-setuptemplateactivity-title-field__icon-selector.ui-ctl .ui-ctl-element {
	padding-right: 32px !important;
	display: flex;
	align-items: center;
}

.bizproc-setuptemplateactivity-title-field__icon-selector .ui-icon-set.--custom {
	padding-top: 10px;
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
	width: 25px;
	height: 25px;
}

.bizproc-setuptemplateactivity-title-field__icon-menu .ui-popup-menu-item-header {
	display: none;
}

.bizproc-setuptemplateactivity-title-field__icon-menu .ui-popup-menu-items {
	display: grid;
	grid-template-columns: repeat(2, 35px);
	gap: 4px;
}

.bizproc-setuptemplateactivity-title-field__icon-menu .ui-popup-menu-item-action {
	padding: 1px 6px;
}

.bizproc-setuptemplateactivity-title-field__icon-menu .ui-popup-menu-item-action:hover {
	border-radius: 6px;
}

.bizproc-setuptemplateactivity-title-field__icon-menu .ui-popup-menu-item-action:hover .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
}

.bizproc-setuptemplateactivity-title-field__icon-menu .ui-popup-menu-container {
	padding-left: 8px;
	padding-right: 8px;
}

.bizproc-setuptemplateactivity-title-field__icon-menu .ui-popup-menu-item .ui-icon-set {
	--ui-icon-set__icon-base-color: var(--ui-color-base-4);
}

.bizproc-setuptemplateactivity-title-field__icon-selector .ui-icon-set.--chevron-down-m {
	position: relative;
	right: -6px;
	--ui-icon-set__icon-base-color: var(--ui-color-base-2);
}
