.bx-im-list-container-base-header-menu__icon {
	width: 30px;
	height: 30px;
	margin-right: 8px;
	background-image: url(./images/settings.svg);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0.5;
}

.bx-im-list-container-base-header-menu__icon:hover {
	opacity: 0.6;
}

.bx-im-list-container-base-header-menu__icon.--active {
	background-image: url(./images/settings-active.svg);
	opacity: 1;
}