#popup-window-content-bizproc-automation-popup-set {
	max-width: 280px;
}

.bizproc-automation-popup-settings #id_filter_fields_value {
	width: 100%;
	display: inline-block;
	background: #fff;
	border: 1px solid #c6cdd3;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868e;
	font-size: 14px;
	border-radius: var(--ui-field-border-radius, 2px);
	height: 36px;
	padding: 7px 32px 7px 11px;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	resize: vertical;
}

input[type="text"][data-role="inline-selector-target"] {
	padding-right: 32px;
}

.bizproc-automation-popup-settings input[type="button"][data-role="bp-selector-button"], .bizproc-automation-popup-settings .bizproc-automation-popup-select-dotted {
	position: absolute;
	right: 8px;
	top: 8px;
	transform: none;
	min-width: 24px;
	max-width: 24px;
	height: 24px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .1s;
	padding: 0;
	font-size: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.58267 7.79166C5.8023 7.79166 6.79166 8.78004 6.79166 9.99967C6.79166 11.2193 5.8023 12.2077 4.58267 12.2077C3.36319 12.2075 2.37466 11.2192 2.37466 9.99967C2.37466 8.78015 3.36319 7.79184 4.58267 7.79166ZM9.99966 7.79166C11.2193 7.79166 12.2077 8.78004 12.2077 9.99967C12.2077 11.2193 11.2193 12.2077 9.99966 12.2077C8.78004 12.2077 7.79166 11.2193 7.79166 9.99967C7.79166 8.78004 8.78004 7.79166 9.99966 7.79166ZM15.4167 7.79166C16.6361 7.79184 17.6247 8.78015 17.6247 9.99967C17.6247 11.2192 16.6361 12.2075 15.4167 12.2077C14.197 12.2077 13.2077 11.2193 13.2077 9.99967C13.2077 8.78004 14.197 7.79166 15.4167 7.79166ZM4.58267 8.95768C4.00753 8.95786 3.54166 9.42448 3.54166 9.99967C3.54166 10.5749 4.00753 11.0415 4.58267 11.0417C5.15797 11.0417 5.62466 10.575 5.62466 9.99967C5.62466 9.42438 5.15797 8.95768 4.58267 8.95768ZM9.99966 8.95768C9.42437 8.95768 8.95767 9.42438 8.95767 9.99967C8.95767 10.575 9.42437 11.0417 9.99966 11.0417C10.575 11.0417 11.0417 10.575 11.0417 9.99967C11.0417 9.42438 10.575 8.95768 9.99966 8.95768ZM15.4167 8.95768C14.8414 8.95768 14.3747 9.42438 14.3747 9.99967C14.3747 10.575 14.8414 11.0417 15.4167 11.0417C15.9918 11.0415 16.4577 10.5749 16.4577 9.99967C16.4577 9.42448 15.9918 8.95786 15.4167 8.95768Z' fill='%23525C69'/%3E%3C/svg%3E") !important;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.bizproc-automation-popup-settings .bizproc-automation-popup-select-dotted {
	top: 6px;
}

.bizproc-automation-popup-settings tr > td[width="30"] {
	width: 0 !important;
	padding: 0 !important;
	overflow: visible;
}

.bizproc-automation-popup-settings .bizproc-automation-popup-select-dotted:before {
	display: none;
}

.bizproc-automation-popup-settings img.calendar-icon {
	display: none;
}

.bizproc-automation-popup-settings .bizproc-type-control-datetime {
	width: 100% !important;
	max-width: 85% !important;
	background-position: 202px -152px;
}