.editor-chart-block-status-not-published {
	position: relative;
	display: block;
	height: 16px;
	padding-left: 14px;
	margin: 0;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 0;
	color: var(--ui-color-base-3);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.editor-chart-block-status-not-published:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 2px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--ui-color-primary);
}