.bx-im-reaction-list__scope {
	--im-reaction-list__background-color_item: rgb(0 0 0 / 10%);
	--im-reaction-list__background-color_item-transparent-background: rgb(82 92 105 / 40%);
	--im-reaction-list__background-color_item-selected: var(--im-color-palette-blue-50);
	--im-reaction-list__font-color_counter: var(--im-color-palette-gray-80);
	--im-reaction-list__font-color_counter-selected: var(--im-color-palette-white-base);
}

.bx-im-reaction-list__container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px 4px;
}

.bx-im-reaction-list__item .ui-reaction {
	--ui-reaction-size: 16px
}

.bx-im-reaction-list__item {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;

	height: 24px;
	padding: 4px 6px;
	border-radius: 38px;
	background-color: var(--im-reaction-list__background-color_item);
	cursor: pointer;
}

.bx-im-reaction-list__item_icon {
	display: flex;
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.bx-im-reaction-list__item_counter {
	font: 11px var(--im-font-family-system);
	font-weight: var(--im-font-weight-semi-bold);
	color: var(--im-reaction-list__font-color_counter);
	user-select: none;
}

.bx-im-reaction-list__item.--selected {
	background-color: var(--im-reaction-list__background-color_item-selected);
}

.bx-im-reaction-list__item.--selected .bx-im-reaction-list__item_counter {
	color: var(--im-reaction-list__font-color_counter-selected);
}

.bx-im-reaction-list__user_container {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding-right: 4px;
}

.bx-im-reaction-list__user_avatar {
	width: 18px;
	height: 18px;
	margin-right: -4px;
	border-radius: 50%;
	background-size: contain;
	user-select: none;
}

.bx-im-reaction-list__user_animation-move {
	transition: none;
}

.bx-im-reaction-list__user_animation-enter-active {
	transition:
		transform 0.25s ease-out,
		opacity 0.2s ease-out;
}

.bx-im-reaction-list__user_animation-enter-from,
.bx-im-reaction-list__user_animation-leave-to {
	opacity: 0;
	transform: translateX(-10px);
}


/* external reaction list */
.bx-im-message-base__bottom .bx-im-reaction-list__container {
	justify-content: flex-end;
}

.bx-im-message-base__wrap.--opponent .bx-im-message-base__bottom .bx-im-reaction-list__container,
.bx-im-content-chat__container.--left-align .bx-im-message-base__bottom .bx-im-reaction-list__container {
	justify-content: flex-start;
}

.bx-im-message-base__bottom .bx-im-reaction-list__item {
	background-color: var(--im-reaction-list__background-color_item-transparent-background)
}

.bx-im-message-base__bottom .bx-im-reaction-list__item.--selected {
	background-color: var(--im-reaction-list__background-color_item-selected);
}

.bx-im-message-base__bottom .bx-im-reaction-list__item_counter {
	color: var(--im-reaction-list__font-color_counter-selected);
}

.bx-im-message-base__bottom .bx-im-reaction-list__item.--selected .bx-im-reaction-list__item_counter {
	color: var(--im-reaction-list__font-color_counter-selected);
}
/* end external reaction list */