.tasks-field-responsible-auto {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 2px;
	line-height: 22px;
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
}

.tasks-field-responsible-many-aha {
	display: grid;
}

.tasks-field-responsible-many-aha span {
	margin-top: 12px;
	max-width: max-content;
	color: inherit;
	border-bottom: 1px dashed;
	cursor: pointer;
}

.tasks-field-responsible-many-aha span:not(:hover) {
	opacity: 0.8;
}
