.bx-im-message-sticker__container {
	display: flex;
	position: relative;
}

.bx-im-message-sticker__header-container {
	margin-bottom: 4px;
}

.bx-im-message-sticker__image {
	width: 166px;
	max-height: 166px;
	min-height: 50px;
	cursor: pointer;
}

.bx-im-message-sticker__image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.bx-im-message-sticker__message-status-container {
	position: absolute;
	bottom: 4px;
}

.--center-align .bx-im-message-sticker__message-status-container
{
	left: 142px;
}

.--left-align .bx-im-message-sticker__message-status-container
{
	left: 162px;
}

.bx-im-message-sticker__reactions-container {
	display: flex;
	margin-top: 4px;
	max-width: 300px;
	justify-content: flex-end;
}

.bx-im-message-base__wrap.--opponent .bx-im-message-sticker__reactions-container,
.bx-im-content-chat__container.--left-align .bx-im-message-sticker__reactions-container {
	justify-content: flex-start;
}
