.bx-messenger-videocall-room-menu-avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	background: center / cover no-repeat var(--avatar);
	background-color: var(--avatar-background);
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 4px;
	font: 10px/normal var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-medium, 500);
	color: #FFF;
}