.tasks-time-tracking-list {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.tasks-time-tracking-list-row {
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;
}

.tasks-time-tracking-list-header {
	position: sticky;
	top: 0;
	display: flex;
	padding: 0 8px 0 18px;
	background: var(--ui-color-bg-content-primary);
	height: 44px;
	border-top: 1px solid var(--ui-color-divider-default);
	border-bottom: 1px solid var(--ui-color-divider-default);
	z-index: 1;
}

.tasks-time-tracking-list-content {
	height: 100%;
}

.tasks-time-tracking-list-item {
	min-height: 62px;
	box-sizing: border-box;
	border-bottom: 1px solid var(--ui-color-divider-default);
}

.tasks-time-tracking-list-item:last-child {
	border-bottom: none;
}

.tasks-time-tracking-list-item.element-highlight {
	--highlight-offset-y: 2px;
	--highlight-offset-x: 2px;
}
