.bizproc-setuptemplateactivity-edit-constant-popup {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.bizproc-setuptemplateactivity-edit-constant-popup__container {
	height: calc(100% - 74px);
	padding-bottom: 22px;
	background-color: var(--ui-color-bg-content-tertiary);
	box-sizing: border-box;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--ui-color-base-30) var(--ui-color-base-02);
}

.bizproc-setuptemplateactivity-edit-constant-popup__container::scrollbar-thumb:hover {
	scrollbar-width: thin;
}

.bizproc-setuptemplateactivity-edit-constant-popup__header {
	padding: 22px 22px 27px;
}

.bizproc-setuptemplateactivity-edit-constant-popup__title {
	margin: 0;
	font-size: var(--ui-font-size-4xl);
	font-weight: var(--ui-font-weight-medium);
	line-height: 33px;
	color: var(--ui-color-base-1);
}

.bizproc-setuptemplateactivity-edit-constant-popup__content {
	padding: 0 22px;
}

.bizproc-setuptemplateactivity-edit-constant-popup__block {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 24px;
	border-radius: 18px;
	background-color: var(--ui-color-bg-content-primary);
	box-shadow: var(--componentareaboxshadowdefaultarea-box-shadow-default-X) var(--componentareaboxshadowdefaultarea-box-shadow-default-Y) var(--componentareaboxshadowdefaultarea-box-shadow-default-blur) var(--componentareaboxshadowdefaultarea-box-shadow-default-spread) var(--componentareaboxshadowdefaultarea-box-shadow-default-color);
	box-sizing: border-box;
}

.bizproc-setuptemplateactivity-edit-constant-popup__footer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 12px;
	height: 74px;
	padding: 0 22px;
	border-top: 1px solid var(--ui-color-divider-accent);
	box-sizing: border-box;
}

#bizproc-setuptemplateactivity-app > .ui-ctl-element,
#bizproc-setuptemplateactivity-app textarea.ui-ctl-element {
	background-color: var(--ui-color-palette-white-base) !important;
	background: none;
	background-image: none !important;
	border-radius: var(--ui-border-radius-md) !important;
}

#bizproc-setuptemplateactivity-popup-content > .ui-ctl-after.ui-ctl-icon-clear {
	pointer-events: all;
}

#bizproc-setuptemplateactivity-popup-content .ui-ctl-after[class*=ui-ctl-icon-] {
	pointer-events: all;
}

#bizproc-setuptemplateactivity-popup-content > .ui-ctl-icon-angle.ui-ctl-after[class*=ui-ctl-icon-angle],
#bizproc-setuptemplateactivity-popup-content .ui-ctl-icon-angle.ui-ctl-after[class*=ui-ctl-icon-angle] {
	display: block !important;
}

.ui-ctl-element[disabled]:hover {
	border-color: var(--ui-field-color-disabled-secondary) !important;
}
