.tasks-field-users-inline {
	display: flex;
	align-items: center;
}

.tasks-field-users {
	--scrollbar-width: 5px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-right: calc(-1 * var(--scrollbar-width));
	padding-right: calc(3 * var(--scrollbar-width));
	font-size: var(--ui-font-size-lg);
}

.tasks-field-users.--safari {
	box-sizing: border-box;
	max-width: calc(100% - 26px);
}

@supports not selector(::-webkit-scrollbar) {
	.tasks-field-users {
		scrollbar-color: rgba(0, 0, 0, 0.11) transparent;
		scrollbar-width: thin;
	}
}

.tasks-field-users::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
	width: var(--scrollbar-width);
}

.tasks-field-users::-webkit-scrollbar-track {
	background: transparent;
}

.tasks-field-users::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	cursor: pointer;
	transition: .2s;
}

.tasks-field-user.--inline {
	z-index: 1;
	outline: 2px solid #fff;
	border-radius: 1in;
}

.tasks-field-user.--inline:not(:first-child) {
	margin-left: -4px;
}

.tasks-field-users-hint span {
	border-bottom: 1px dashed rgba(var(--ui-color-palette-white-base-rgb), 0.5);
	cursor: pointer;
	transition: border-color 180ms;
}

.tasks-field-users-hint span:hover {
	border-color: rgba(var(--ui-color-palette-white-base-rgb), 0.8);
}
