.tasks-field-reminders-list {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.tasks-field-reminders-list-header {
	position: sticky;
	top: 0;
	display: flex;
	background: var(--ui-color-bg-content-primary);
	min-height: 32px;
	border-top: 1px solid var(--ui-color-divider-default);
	border-bottom: 1px solid var(--ui-color-divider-default);
	box-shadow: 0 1px 9px rgba(0, 0, 0, 0.04);
	z-index: 1;
}
