.editor-chart-block-top-title {
	position: relative;
	display: block;
	height: 16px;
	margin: 0;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 0;
	color: var(--ui-color-base-3);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
