.tasks-task-line-title-container {
	z-index: 1;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.tasks-task-line-field {
	z-index: 1;
}

.tasks-task-line-title {
	color: var(--ui-color-accent-main-link);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: max-content;
	cursor: pointer;
}

.tasks-task-line-title.--completed {
	text-decoration: line-through;
}

.tasks-task-line-deadline.--expired .tasks-task-line-deadline-text {
	color: var(--ui-color-accent-main-alert);
}

.tasks-task-line-cross {
	display: flex;
	align-items: center;
	height: 100%;
	--ui-icon-set__icon-size: 20px;
	--ui-icon-set__icon-color: var(--ui-color-base-4);
}

.tasks-task-line-cross .ui-icon-set {
	z-index: 1;
	opacity: 0;
	transition: opacity 200ms;
	cursor: pointer;
}

.tasks-task-line-cross.--hover:not(.--readonly) .ui-icon-set {
	opacity: 1;
}

.tasks-task-line-cross.--readonly .ui-icon-set {
	pointer-events: none;
	cursor: default;
}

.tasks-task-line-cross-background {
	z-index: 0;
	position: relative;
	grid-column: 1 / -1;
	height: 1px;
	margin: -1px var(--ui-space-inline-md2-neg) 0;
	transform-origin: bottom;
	transform: translateY(calc(var(--ui-space-stack-sm) + 26px)) scaleY(52);
}
