.bx-im-stickers-pack-popup__container {
	--im-stickers-pack-popup__background-color_container: var(--ui-color-bg-vibrant-default);
	--im-stickers-pack-popup__background-color_footer: var(--ui-color-bg-vibrant-less);
	--im-stickers-pack-popup__color_icon: var(--ui-color-base-4);
	--im-stickers-pack-popup__color_title: var(--ui-color-base-1);
	--im-stickers-pack-popup__height_header: 52px;
	--im-stickers-pack-popup__height_footer: 74px;

	background-color: var(--im-stickers-pack-popup__background-color_container);
	height: 469px;
	overflow: hidden;
}

.bx-im-stickers-pack-popup__loader {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 153px;
}

.bx-im-stickers-pack-popup__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--im-stickers-pack-popup__height_header);
	padding: 0 20px 0 24px;
}

.bx-im-stickers-pack-popup__header-title {
	font: 17px/23px var(--im-font-family-system);
	font-weight: var(--im-font-weight-medium);
	color: var(--im-stickers-pack-popup__color_title);
}

.bx-im-stickers-pack-popup__header-controls {
	display: flex;
	gap: 8px;
}

.bx-im-stickers-pack-popup__sticker-list {
	padding-left: 16px;
	height: calc(100% - var(--im-stickers-pack-popup__height_footer) - var(--im-stickers-pack-popup__height_header));
	overflow: hidden auto;
}

.bx-im-stickers-pack-popup__sticker {
	width: 85px;
	height: 85px;
	flex-shrink: 0;
	padding: 7px 6px 6px 7px;
	background: transparent;
	cursor: pointer;
}

.bx-im-stickers-pack-popup__sticker img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.bx-im-stickers-pack-popup__footer {
	bottom: 0;
	display: flex;
	justify-content: end;
	align-items: center;
	height: var(--im-stickers-pack-popup__height_footer);
	padding: 12px 24px;
	background-color: var(--im-stickers-pack-popup__background-color_footer);
}

.bx-im-stickers-pack-popup__footer.--pack-added {
	pointer-events: none;
}

.bx-im-stickers-pack-popup__control-icon {
	--ui-icon-set__icon-color: var(--im-stickers-pack-popup__color_icon);
	--ui-icon-set__icon-size: 24px;
	cursor: pointer;
}
