.bx-im-transcribed-video-player__container {
	--im-transcribed-video-player__color_metainfo: #a8adb4;
}

.bx-im-transcribed-video-player__video {
	display: flex;
	overflow: hidden;
}

.bx-im-transcribed-video-player__play {
	position: relative;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bx-im-transcribed-video-player__play-icon {
	position: absolute;
	height: 20px;
	width: 20px;
	background: url('./images/play.svg') no-repeat center;
	background-size: 10px;
	background-position-x: 6px;
}

.bx-im-transcribed-video-player__play-button-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('./images/play-button-overlay.svg') no-repeat center;
}

.bx-im-transcribed-video-player__content {
	margin-left: 10px;
	padding-top: 5px;
	display: flex;
}

.bx-im-transcribed-video-player__timeline-container {
	padding-top: 5px;
}

.bx-im-transcribed-video-player__transcription-button {
	margin-left: 8px;
}

.bx-im-transcribed-video-player__video-source {
	display: none;
}

.bx-im-transcribed-video-player__metainfo {
	color: var(--im-transcribed-video-player__color_metainfo);
	font-size: var(--im-font-size-4xs);
	line-height: 11px;
	padding-top: 3px;
}

