.bx-im-collab-header__add-people-icon {
	width: 22px;
	height: 22px;
	background-image: url('./images/add-people.svg');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.bx-im-collab-header__add-people-icon:hover {
	background-image: url('./images/add-people-hover.svg');
}

.bx-im-collab-header__add-people-icon.--active {
	background-image: url('./images/add-people-active.svg');
}

.bx-im-collab-header__add-to-chat {
	--im-pulse-animation__border-color_ring: var(--im-color-collab-40);

	margin-right: 12px;
}
