.bx-im-sticker-promo-popup__container {
	--im-sticker-promo__background-color_container: var(--ui-color-bg-content-inapp);
	--im-sticker-promo__color_text: var(--ui-color-palette-white-base);

	background-color: var(--im-sticker-promo__background-color_container);
}

.bx-im-sticker-promo-popup__container .popup-window-angly--arrow {
	background-color: var(--im-sticker-promo__background-color_container);
}

.bx-im-sticker-promo-popup__container .popup-window-content {
	display: flex;
	gap: 10px;
}

.bx-im-sticker-promo-popup__cover {
	background-image: url('./images/promo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	flex-shrink: 0;
	width: 78px;
	height: 78px;
	margin-left: 10px;
	align-self: center;
}

.bx-im-sticker-promo-popup__info {
	padding-left: 12px;
	padding-bottom: 4px;
}

.bx-im-sticker-promo-popup__title {
	font-size: var(--ui-font-size-xl);
	font-weight: var(--ui-font-weight-medium);
	line-height: var(--ui-font-line-height-md);
	color: var(--im-sticker-promo__color_text);
	margin-bottom: 6px;
}

.bx-im-sticker-promo-popup__description {
	font-size: var(--ui-font-size-lg);
	line-height: var(--ui-font-line-height-md);
	color: var(--im-sticker-promo__color_text);
}
