.tasks-task-deadline-setting {
	display: flex;
	gap: 10px;
	align-items: center;
	padding-left: 37px;
}

.tasks-task-deadline-setting .ui-ctl-element {
	border-radius: var(--ui-border-radius-sm);
}

.tasks-task-deadline-setting .ui-ctl-textbox {
	width: 120px;
}

.tasks-task-deadline-setting .ui-ctl-dropdown {
	width: auto;
	max-width: 120px;
}