.bx-im-format-toolbar-link__container {
	padding: 4px 12px 2px;
}

.bx-im-format-toolbar-link__content {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 51px;
}

.bx-im-format-toolbar-link__input {
	margin-right: 8px;
}

.bx-im-format-toolbar-link__action {
	margin-top: 2px; /* required because of ui-input offset */
	cursor: pointer;
}

.bx-im-format-toolbar-link__action.--accept {
	margin-right: 2px;
}

.bx-im-format-toolbar-link__action.--accept.--disabled {
	--ui-icon-set__icon-color: var(--ui-color-gray-50);

	pointer-events: none;
}

.bx-im-format-toolbar-link__action.--accept.--active {
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
}
